In [1]:
y = bin(5000)
print (y)

0b1001110001000

In [2]:
bin(25)

'0b11001'

In [3]:
a = "How are you"
a.split()

['How', 'are', 'you']

In [4]:
a.split(sep=' ', maxsplit=1)

['How', 'are you']

In [5]:
print (a*5)

How are youHow are youHow are youHow are youHow are you

In [6]:
a = "How,are,you"
a.split(',')

['How', 'are', 'you']

In [7]:
a.partition(",")

('How', ',', 'are,you')

In [8]:
a.rpartition(",")

('How,are', ',', 'you')

In [9]:
a ="""
How are you
I am fine
try now
"""
a.splitlines()

['', 'How are you', 'I am fine', 'try now']

In [10]:
a = "How are you"
a.find('o')

1

In [11]:
a = "how are you. i am fine"
a.capitalize()

'How are you. i am fine'

In [12]:
a = """how are you
i am fine
"""
a.capitalize()

'How are you\ni am fine\n'

In [13]:
a.title()

'How Are You\nI Am Fine\n'

In [14]:
a.upper()

'HOW ARE YOU\nI AM FINE\n'

In [15]:
b = a.title()
b.swapcase()

'hOW aRE yOU\ni aM fINE\n'

In [16]:
print(a)
a.istitle()

how are you
i am fine

False

In [17]:
b.istitle()

True

In [18]:
a.center(30)

'    how are you\ni am fine\n    '

In [19]:
a.center(60)

'                   how are you\ni am fine\n                   '

In [20]:
a.ljust(30)

'how are you\ni am fine\n        '

In [21]:
a.rjust(30)

'        how are you\ni am fine\n'

In [22]:
a.ljust(30, '*')

'how are you\ni am fine\n********'

In [23]:
a.rjust(30, '*')

'********how are you\ni am fine\n'

In [24]:
a = 'how are you'
a.zfill(13)

'00how are you'

In [25]:
len(a)

11

In [26]:
a

'how are you'

In [27]:
a.isalpha()

False

In [28]:
a = 'howareyou'
a.isalpha()

True

In [29]:
a = 'how are you'
b = 'i am fine'
print (a, end="")
print (b)

how are youi am fine

In [30]:
a = "Yousif"
print ("Hello %s" %a)

Hello Yousif

In [31]:
a = "Yousif"
b = 20
c = (a,b)
print ("I am %s." %"Yousif")
print ("I am %s and I am %s years old" %c)
print ("I am %s and I am %s years old" %(a,b))
print ("I am %s and I am %d years old" %(a,b))# %d => decimal not string
print ("I am %5s and I am %5d years old" %c)
print ("I am %s and I am %05d years old" %c)
d = "I am %s and I am %s years old" %c
print (d)

I am Yousif.
I am Yousif and I am 20 years old
I am Yousif and I am 20 years old
I am Yousif and I am 20 years old
I am Yousif and I am    20 years old
I am Yousif and I am 00020 years old
I am Yousif and I am 20 years old

In [32]:
print("My name is {} and My age is {} years old".format("Yousif", 13))

My name is Yousif and My age is 13 years old

In [33]:
print ("My name is {0}. {0}'s age is {1}".format("Yousif", 20))

My name is Yousif. Yousif's age is 20

In [34]:
name = "yousif"
age = 20
print ("My name is {0}. {0}'s age is {1}".format(name, age))

My name is yousif. yousif's age is 20

In [35]:
print ("My name is {name}. {name} age is {age}.".format(age = 20, name = "Yousif"))

My name is Yousif. Yousif age is 20.

In [36]:
print('Yousif'.center(42))
print ("============================================")
print ('|'+"x{:40}y".format("Yousif") +'|')
print ('|'+"x{:^40}y".format("Yousif") +'|')
print ("============================================")
print ('|'+"x{0:40}y".format("Yousif") +'|')
print ('|'+"x{0:^40}y".format("Yousif") +'|')

                  Yousif
============================================
|xYousif                                  y|
|x                 Yousif                 y|
============================================
|xYousif                                  y|
|x                 Yousif                 y|

In [37]:
import numpy as np
print ("The PI value is: {0:.3f}, {1:.5f}".format(np.pi, np.exp(1)))
print ("The PI value is: {name:.3f}, {var2:.5f}".format(name = np.pi, var2 = np.exp(1)))
print ("My name is {:s}. I am {:d} years old".format("Yousif", 20))

The PI value is: 3.142, 2.71828
The PI value is: 3.142, 2.71828
My name is Yousif. I am 20 years old

In [38]:
a = "yes, it is me"
print(a.startswith("yes"))
print(a.endswith("me"))

True
True

In [39]:
", ".join(['ahmed', 'mona', 'ali'])

'ahmed, mona, ali'

In [40]:
" - ".join(['ahmed', 'mona', 'ali'])

'ahmed - mona - ali'

In [41]:
"-".join("ahmed")

'a-h-m-e-d'

In [42]:
import random
' - '.join([str(i) for i in range(random.randint(1, 50))])

'0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 - 11 - 12 - 13 - 14 - 15 - 16 - 17 - 18 - 19 - 20 - 21 - 22 - 23 - 24 - 25 - 26 - 27 - 28 - 29 - 30 - 31 - 32'

In [43]:
import numpy as np
' - '.join([str(i) for i in np.random.randint(100, size = 20)])

'89 - 53 - 63 - 94 - 0 - 93 - 99 - 28 - 11 - 42 - 8 - 99 - 73 - 34 - 63 - 26 - 99 - 97 - 46 - 97'

# Regular Expressions

In [44]:
import re #https://pythex.org/
#This link for testing
pattern = r"\d{1,2}-\d{1,2}-\d{4}"
date = "21-8-2005 29-1-2008 30-6-2058"
print(re.compile(pattern).findall(date))

['21-8-2005', '29-1-2008', '30-6-2058']

In [45]:
import re
pattern = r"\d{1,2}-\d{1,2}-\d{1,4}"
date = "21-8-2005 29-1-2008 30-6-258 48-5-1"
print(re.compile(pattern).findall(date))

['21-8-2005', '29-1-2008', '30-6-258', '48-5-1']

In [46]:
pattern = r"\bemail\b"
word = "your email with me. contact me by this email"
print(re.compile(pattern).findall(word))

['email', 'email']

In [47]:
pattern = r"\bem"
word = "your email with me. contact me by this email"
print(re.compile(pattern).findall(word))

['em', 'em']

In [48]:
pattern = r"\bt+[a-zA-Z]+"
word = "this is your email with me. contact me by this email. Every thing is emailed"
print(re.compile(pattern).findall(word))

['this', 'this', 'thing']

In [49]:
pattern = r"[a-zA-Z]+"
word = "Yousif_Hisham_AbeElFatah_AbdElAzim"
print(re.compile(pattern).findall(word))

['Yousif', 'Hisham', 'AbeElFatah', 'AbdElAzim']

In [50]:
pattern = r'\d'
word = "T am yousif8 and I am 18 years old"
print(re.compile(pattern).findall(word))

['8', '1', '8']

In [51]:
pattern = r'\d{1,}'
word = "T am yousif8 and I am 18 years old"
print(re.compile(pattern).findall(word))

['8', '18']

In [52]:
pattern = r'\s' # just spaces
word = "this is your email with me. contact me by this email. Every thing is emailed"
print(re.compile(pattern).findall(word))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [53]:
pattern = r'\S'
word = "this is your email with me. contact me by this email. Every thing is emailed"
print(re.compile(pattern).findall(word))

['t', 'h', 'i', 's', 'i', 's', 'y', 'o', 'u', 'r', 'e', 'm', 'a', 'i', 'l', 'w', 'i', 't', 'h', 'm', 'e', '.', 'c', 'o', 'n', 't', 'a', 'c', 't', 'm', 'e', 'b', 'y', 't', 'h', 'i', 's', 'e', 'm', 'a', 'i', 'l', '.', 'E', 'v', 'e', 'r', 'y', 't', 'h', 'i', 'n', 'g', 'i', 's', 'e', 'm', 'a', 'i', 'l', 'e', 'd']

In [54]:
pattern = r'\S+'
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
words = re.compile(pattern).findall(word)
print(re.compile(pattern).findall(word))

['this', 'is', 'your', 'email', 'with', 'me.', 'contact', 'me', 'by', 'this', 'email.', 'Every', 'thing', 'is', 'emailed', 'on', '18_octobre.', 'elkhateebyousif973@gmail.com']

In [55]:
for word in enumerate(words, 1):
  print (word)

(1, 'this')
(2, 'is')
(3, 'your')
(4, 'email')
(5, 'with')
(6, 'me.')
(7, 'contact')
(8, 'me')
(9, 'by')
(10, 'this')
(11, 'email.')
(12, 'Every')
(13, 'thing')
(14, 'is')
(15, 'emailed')
(16, 'on')
(17, '18_octobre.')
(18, 'elkhateebyousif973@gmail.com')

In [56]:
for counter, word in enumerate(words, 1):
  print (counter,') ',word)

1 )  this
2 )  is
3 )  your
4 )  email
5 )  with
6 )  me.
7 )  contact
8 )  me
9 )  by
10 )  this
11 )  email.
12 )  Every
13 )  thing
14 )  is
15 )  emailed
16 )  on
17 )  18_octobre.
18 )  elkhateebyousif973@gmail.com

In [57]:
for counter, word in enumerate(words, 1):
  print (str(counter).zfill(2),') ',word)

01 )  this
02 )  is
03 )  your
04 )  email
05 )  with
06 )  me.
07 )  contact
08 )  me
09 )  by
10 )  this
11 )  email.
12 )  Every
13 )  thing
14 )  is
15 )  emailed
16 )  on
17 )  18_octobre.
18 )  elkhateebyousif973@gmail.com

In [58]:
for counter, word in enumerate(words, 1):
  print (str(counter).rjust(2),') ',word)

 1 )  this
 2 )  is
 3 )  your
 4 )  email
 5 )  with
 6 )  me.
 7 )  contact
 8 )  me
 9 )  by
10 )  this
11 )  email.
12 )  Every
13 )  thing
14 )  is
15 )  emailed
16 )  on
17 )  18_octobre.
18 )  elkhateebyousif973@gmail.com

In [59]:
for counter, word in enumerate(words, 1):
  print (str(counter).ljust(2),') ',word)

1  )  this
2  )  is
3  )  your
4  )  email
5  )  with
6  )  me.
7  )  contact
8  )  me
9  )  by
10 )  this
11 )  email.
12 )  Every
13 )  thing
14 )  is
15 )  emailed
16 )  on
17 )  18_octobre.
18 )  elkhateebyousif973@gmail.com

In [60]:
pattern = r'\S*'
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
print(re.compile(pattern).findall(word))

['this', '', 'is', '', 'your', '', 'email', '', 'with', '', 'me.', '', 'contact', '', 'me', '', 'by', '', 'this', '', 'email.', '', 'Every', '', 'thing', '', 'is', '', 'emailed', '', 'on', '', '18_octobre.', '', 'elkhateebyousif973@gmail.com', '']

In [61]:
pattern = r'\w'
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
print(re.compile(pattern).findall(word))

['t', 'h', 'i', 's', 'i', 's', 'y', 'o', 'u', 'r', 'e', 'm', 'a', 'i', 'l', 'w', 'i', 't', 'h', 'm', 'e', 'c', 'o', 'n', 't', 'a', 'c', 't', 'm', 'e', 'b', 'y', 't', 'h', 'i', 's', 'e', 'm', 'a', 'i', 'l', 'E', 'v', 'e', 'r', 'y', 't', 'h', 'i', 'n', 'g', 'i', 's', 'e', 'm', 'a', 'i', 'l', 'e', 'd', 'o', 'n', '1', '8', '_', 'o', 'c', 't', 'o', 'b', 'r', 'e', 'e', 'l', 'k', 'h', 'a', 't', 'e', 'e', 'b', 'y', 'o', 'u', 's', 'i', 'f', '9', '7', '3', 'g', 'm', 'a', 'i', 'l', 'c', 'o', 'm']

In [62]:
pattern = r'\w+' # doesn't add a special charcter as \S
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
print(re.compile(pattern).findall(word))

['this', 'is', 'your', 'email', 'with', 'me', 'contact', 'me', 'by', 'this', 'email', 'Every', 'thing', 'is', 'emailed', 'on', '18_octobre', 'elkhateebyousif973', 'gmail', 'com']

In [63]:
pattern = r'\w*' # doesn't add a special charcter as \S
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
print(re.compile(pattern).findall(word))

['this', '', 'is', '', 'your', '', 'email', '', 'with', '', 'me', '', '', 'contact', '', 'me', '', 'by', '', 'this', '', 'email', '', '', 'Every', '', 'thing', '', 'is', '', 'emailed', '', 'on', '', '18_octobre', '', '', 'elkhateebyousif973', '', 'gmail', '', 'com', '']

In [64]:
pattern = r'\W+' # just spaces and special charcters
word = "this is your email with me. contact me by this email. Every thing is emailed on 18_octobre. elkhateebyousif973@gmail.com"
print(re.compile(pattern).findall(word))

[' ', ' ', ' ', ' ', ' ', '. ', ' ', ' ', ' ', ' ', '. ', ' ', ' ', ' ', ' ', ' ', '. ', '@', '.']

In [65]:
pattern = r'.+' # Any charcter will match except the new line
word = """this is your email with me. contact me by this email.
Every thing is emailed on 18_octobre.
elkhateebyousif973@gmail.com
"""
print(re.compile(pattern).findall(word))

['this is your email with me. contact me by this email.', 'Every thing is emailed on 18_octobre.', 'elkhateebyousif973@gmail.com']

In [66]:
pattern = r"\d{3}\s\d{3}\s\d{3}$"
word = """=>012 145 268
011 205 851<=
010 233 378
"""
print(re.compile(pattern).findall(word))

['010 233 378']

In [67]:
pattern = r"^\d{3}\s\d{3}\s\d{3}"
word = """012 145 268
011 205 851<=
010 233 378
"""
print(re.compile(pattern).findall(word))

['012 145 268']

# Manipulating with files

In [68]:
import os
import shutil as sh # for copying files and pathes

# Lists

In [69]:
a = list("ahmed")
print(a)

['a', 'h', 'm', 'e', 'd']

In [70]:
a = [1,2,3,4,5]
b = a # register the location not the value
d = a[:] # register the value not the location
d = a.copy() # register the value not the location
c = a[1:]
a[1] += 1
print (b)
print (d)
print (c)
a[1] -= 1

[1, 3, 3, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [71]:
# deleting values in a list
a[1:3] = []
print (b)
print (d)
print (c)

[1, 4, 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [72]:
#inserting in the list
a[1] = [2,3] # replacing the index 1 with these values
print (b)
print (d)
print (c)

[1, [2, 3], 5]
[1, 2, 3, 4, 5]
[2, 3, 4, 5]

In [73]:
#another way for deleting values in the list
del a[1]
print(b)

[1, 5]

In [74]:
# for deleting by values not by index
a.remove(5)
print (b)

[1]

In [75]:
# for concatunating two lists 
a = [1,2,3,4,5]
b = ['a', 'ddk', True, False]
c = b+a
print (b)
print (c)
b.extend(a)
print (b)

['a', 'ddk', True, False]
['a', 'ddk', True, False, 1, 2, 3, 4, 5]
['a', 'ddk', True, False, 1, 2, 3, 4, 5]

In [76]:
a.append(10)
print (a)
print (b)

[1, 2, 3, 4, 5, 10]
['a', 'ddk', True, False, 1, 2, 3, 4, 5]

In [77]:
# for inserting in a certain place in a list
a.insert(1, 15) # (index, value)
print (a)

[1, 15, 2, 3, 4, 5, 10]

In [78]:
# for repeating the list many number of times
print (a*5)

[1, 15, 2, 3, 4, 5, 10, 1, 15, 2, 3, 4, 5, 10, 1, 15, 2, 3, 4, 5, 10, 1, 15, 2, 3, 4, 5, 10, 1, 15, 2, 3, 4, 5, 10]

In [79]:
a = [[1]*5] * 5
print (a)

[[1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1]]

In [80]:
a = [1,2,3,4,5]*5
print (sum(a))
print (len(a))
print (min(a))
print (max(a))
b = sorted(a, reverse=False) # doesn't affected by a pointer
print (sorted(a, reverse=False))
print (sorted(a, reverse=True))
print (a)
a[0] += 10
print (b)
#to sort and put in the same variable 
a.sort()
print (a)

75
25
1
5
[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
[5, 5, 5, 5, 5, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5]
[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 11]

In [81]:
#Sorting list of tuples using lambda
a = [('Yousif', 20, 15000), ('Hisham', 50, 60000) , ('Asmaa', 30, 5500), ('Nour', 17, 4000), ('Mohamed', 19, 10000)]
print(sorted(a, reverse=False, key= lambda c:c[0]))
print(sorted(a, reverse=False, key= lambda c:c[1]))
print(sorted(a, reverse=False, key= lambda c:c[2]))

[('Asmaa', 30, 5500), ('Hisham', 50, 60000), ('Mohamed', 19, 10000), ('Nour', 17, 4000), ('Yousif', 20, 15000)]
[('Nour', 17, 4000), ('Mohamed', 19, 10000), ('Yousif', 20, 15000), ('Asmaa', 30, 5500), ('Hisham', 50, 60000)]
[('Nour', 17, 4000), ('Asmaa', 30, 5500), ('Mohamed', 19, 10000), ('Yousif', 20, 15000), ('Hisham', 50, 60000)]

In [82]:
print(sorted(a,reverse=True, key= lambda c:c[0]))
print(sorted(a,reverse=True, key= lambda c:c[1]))
print(sorted(a,reverse=True, key= lambda c:c[2]))

[('Yousif', 20, 15000), ('Nour', 17, 4000), ('Mohamed', 19, 10000), ('Hisham', 50, 60000), ('Asmaa', 30, 5500)]
[('Hisham', 50, 60000), ('Asmaa', 30, 5500), ('Yousif', 20, 15000), ('Mohamed', 19, 10000), ('Nour', 17, 4000)]
[('Hisham', 50, 60000), ('Yousif', 20, 15000), ('Mohamed', 19, 10000), ('Asmaa', 30, 5500), ('Nour', 17, 4000)]

In [83]:
a = [1,2,3,4] * 5
print (a)
print(a.count(1)) # for counting the values in the list
print(a.index(4)) # for getting the index of the value
a.reverse()
print(a)
a.reverse()

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]
5
3
[4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1, 4, 3, 2, 1]

In [84]:
print (a.pop())
print (a)

4
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3]

In [85]:
print (a.pop(3)) # removed the third index from the front 
print (a)
print (a.pop(-3)) # removed the third index from the back 
print (a)

4
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3]
1
[1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 2, 3]

In [86]:
a = range(20)
print (a)
a = list(a)
print (a)

range(0, 20)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [87]:
print(list(range(20)))
print(list(range(11,20)))
print(list(range(1900,2000, 5)))
print(list(range(2000,1900, -5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[11, 12, 13, 14, 15, 16, 17, 18, 19]
[1900, 1905, 1910, 1915, 1920, 1925, 1930, 1935, 1940, 1945, 1950, 1955, 1960, 1965, 1970, 1975, 1980, 1985, 1990, 1995]
[2000, 1995, 1990, 1985, 1980, 1975, 1970, 1965, 1960, 1955, 1950, 1945, 1940, 1935, 1930, 1925, 1920, 1915, 1910, 1905]

In [88]:
print (list(map(lambda x: x ** 2, range(20))))
print ([x ** 2 for x in range(20)])
print ([x ** 2 for x in range(10, 101, 3)])
print ([x ** (1/2) for x in range(10, 101, 3)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]
[100, 169, 256, 361, 484, 625, 784, 961, 1156, 1369, 1600, 1849, 2116, 2401, 2704, 3025, 3364, 3721, 4096, 4489, 4900, 5329, 5776, 6241, 6724, 7225, 7744, 8281, 8836, 9409, 10000]
[3.1622776601683795, 3.605551275463989, 4.0, 4.358898943540674, 4.69041575982343, 5.0, 5.291502622129181, 5.5677643628300215, 5.830951894845301, 6.082762530298219, 6.324555320336759, 6.557438524302, 6.782329983125268, 7.0, 7.211102550927978, 7.416198487095663, 7.615773105863909, 7.810249675906654, 8.0, 8.18535277187245, 8.366600265340756, 8.54400374531753, 8.717797887081348, 8.888194417315589, 9.055385138137417, 9.219544457292887, 9.38083151964686, 9.539392014169456, 9.695359714832659, 9.848857801796104, 10.0]

In [89]:
print ([(x,y) for x in range(20) for y in range(20)])
print ([{x:y} for x in range(20) for y in range(20)])
print ([{x,y} for x in range(20) for y in range(20)]) # act as a set
print ([[x,y] for x in range(20) for y in range(20)])

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (0, 11), (0, 12), (0, 13), (0, 14), (0, 15), (0, 16), (0, 17), (0, 18), (0, 19), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (1, 11), (1, 12), (1, 13), (1, 14), (1, 15), (1, 16), (1, 17), (1, 18), (1, 19), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (2, 11), (2, 12), (2, 13), (2, 14), (2, 15), (2, 16), (2, 17), (2, 18), (2, 19), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (3, 11), (3, 12), (3, 13), (3, 14), (3, 15), (3, 16), (3, 17), (3, 18), (3, 19), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (4, 11), (4, 12), (4, 13), (4, 14), (4, 15), (4, 16), (4, 17), (4, 18), (4, 19), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (5, 11), (5, 12), (5, 13), (5, 14), (5, 15), (5, 16), (5, 17), (5, 18), (5, 19), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (6, 11), (6, 12), (6, 13), (6, 14), (6, 15), (6, 16), (6, 17), (6, 18), (6, 19), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (7, 10), (7, 11), (7, 12), (7, 13), (7, 14), (7, 15), (7, 16), (7, 17), (7, 18), (7, 19), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (8, 10), (8, 11), (8, 12), (8, 13), (8, 14), (8, 15), (8, 16), (8, 17), (8, 18), (8, 19), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9), (9, 10), (9, 11), (9, 12), (9, 13), (9, 14), (9, 15), (9, 16), (9, 17), (9, 18), (9, 19), (10, 0), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9), (10, 10), (10, 11), (10, 12), (10, 13), (10, 14), (10, 15), (10, 16), (10, 17), (10, 18), (10, 19), (11, 0), (11, 1), (11, 2), (11, 3), (11, 4), (11, 5), (11, 6), (11, 7), (11, 8), (11, 9), (11, 10), (11, 11), (11, 12), (11, 13), (11, 14), (11, 15), (11, 16), (11, 17), (11, 18), (11, 19), (12, 0), (12, 1), (12, 2), (12, 3), (12, 4), (12, 5), (12, 6), (12, 7), (12, 8), (12, 9), (12, 10), (12, 11), (12, 12), (12, 13), (12, 14), (12, 15), (12, 16), (12, 17), (12, 18), (12, 19), (13, 0), (13, 1), (13, 2), (13, 3), (13, 4), (13, 5), (13, 6), (13, 7), (13, 8), (13, 9), (13, 10), (13, 11), (13, 12), (13, 13), (13, 14), (13, 15), (13, 16), (13, 17), (13, 18), (13, 19), (14, 0), (14, 1), (14, 2), (14, 3), (14, 4), (14, 5), (14, 6), (14, 7), (14, 8), (14, 9), (14, 10), (14, 11), (14, 12), (14, 13), (14, 14), (14, 15), (14, 16), (14, 17), (14, 18), (14, 19), (15, 0), (15, 1), (15, 2), (15, 3), (15, 4), (15, 5), (15, 6), (15, 7), (15, 8), (15, 9), (15, 10), (15, 11), (15, 12), (15, 13), (15, 14), (15, 15), (15, 16), (15, 17), (15, 18), (15, 19), (16, 0), (16, 1), (16, 2), (16, 3), (16, 4), (16, 5), (16, 6), (16, 7), (16, 8), (16, 9), (16, 10), (16, 11), (16, 12), (16, 13), (16, 14), (16, 15), (16, 16), (16, 17), (16, 18), (16, 19), (17, 0), (17, 1), (17, 2), (17, 3), (17, 4), (17, 5), (17, 6), (17, 7), (17, 8), (17, 9), (17, 10), (17, 11), (17, 12), (17, 13), (17, 14), (17, 15), (17, 16), (17, 17), (17, 18), (17, 19), (18, 0), (18, 1), (18, 2), (18, 3), (18, 4), (18, 5), (18, 6), (18, 7), (18, 8), (18, 9), (18, 10), (18, 11), (18, 12), (18, 13), (18, 14), (18, 15), (18, 16), (18, 17), (18, 18), (18, 19), (19, 0), (19, 1), (19, 2), (19, 3), (19, 4), (19, 5), (19, 6), (19, 7), (19, 8), (19, 9), (19, 10), (19, 11), (19, 12), (19, 13), (19, 14), (19, 15), (19, 16), (19, 17), (19, 18), (19, 19)]
[{0: 0}, {0: 1}, {0: 2}, {0: 3}, {0: 4}, {0: 5}, {0: 6}, {0: 7}, {0: 8}, {0: 9}, {0: 10}, {0: 11}, {0: 12}, {0: 13}, {0: 14}, {0: 15}, {0: 16}, {0: 17}, {0: 18}, {0: 19}, {1: 0}, {1: 1}, {1: 2}, {1: 3}, {1: 4}, {1: 5}, {1: 6}, {1: 7}, {1: 8}, {1: 9}, {1: 10}, {1: 11}, {1: 12}, {1: 13}, {1: 14}, {1: 15}, {1: 16}, {1: 17}, {1: 18}, {1: 19}, {2: 0}, {2: 1}, {2: 2}, {2: 3}, {2: 4}, {2: 5}, {2: 6}, {2: 7}, {2: 8}, {2: 9}, {2: 10}, {2: 11}, {2: 12}, {2: 13}, {2: 14}, {2: 15}, {2: 16}, {2: 17}, {2: 18}, {2: 19}, {3: 0}, {3: 1}, {3: 2}, {3: 3}, {3: 4}, {3: 5}, {3: 6}, {3: 7}, {3: 8}, {3: 9}, {3: 10}, {3: 11}, {3: 12}, {3: 13}, {3: 14}, {3: 15}, {3: 16}, {3: 17}, {3: 18}, {3: 19}, {4: 0}, {4: 1}, {4: 2}, {4: 3}, {4: 4}, {4: 5}, {4: 6}, {4: 7}, {4: 8}, {4: 9}, {4: 10}, {4: 11}, {4: 12}, {4: 13}, {4: 14}, {4: 15}, {4: 16}, {4: 17}, {4: 18}, {4: 19}, {5: 0}, {5: 1}, {5: 2}, {5: 3}, {5: 4}, {5: 5}, {5: 6}, {5: 7}, {5: 8}, {5: 9}, {5: 10}, {5: 11}, {5: 12}, {5: 13}, {5: 14}, {5: 15}, {5: 16}, {5: 17}, {5: 18}, {5: 19}, {6: 0}, {6: 1}, {6: 2}, {6: 3}, {6: 4}, {6: 5}, {6: 6}, {6: 7}, {6: 8}, {6: 9}, {6: 10}, {6: 11}, {6: 12}, {6: 13}, {6: 14}, {6: 15}, {6: 16}, {6: 17}, {6: 18}, {6: 19}, {7: 0}, {7: 1}, {7: 2}, {7: 3}, {7: 4}, {7: 5}, {7: 6}, {7: 7}, {7: 8}, {7: 9}, {7: 10}, {7: 11}, {7: 12}, {7: 13}, {7: 14}, {7: 15}, {7: 16}, {7: 17}, {7: 18}, {7: 19}, {8: 0}, {8: 1}, {8: 2}, {8: 3}, {8: 4}, {8: 5}, {8: 6}, {8: 7}, {8: 8}, {8: 9}, {8: 10}, {8: 11}, {8: 12}, {8: 13}, {8: 14}, {8: 15}, {8: 16}, {8: 17}, {8: 18}, {8: 19}, {9: 0}, {9: 1}, {9: 2}, {9: 3}, {9: 4}, {9: 5}, {9: 6}, {9: 7}, {9: 8}, {9: 9}, {9: 10}, {9: 11}, {9: 12}, {9: 13}, {9: 14}, {9: 15}, {9: 16}, {9: 17}, {9: 18}, {9: 19}, {10: 0}, {10: 1}, {10: 2}, {10: 3}, {10: 4}, {10: 5}, {10: 6}, {10: 7}, {10: 8}, {10: 9}, {10: 10}, {10: 11}, {10: 12}, {10: 13}, {10: 14}, {10: 15}, {10: 16}, {10: 17}, {10: 18}, {10: 19}, {11: 0}, {11: 1}, {11: 2}, {11: 3}, {11: 4}, {11: 5}, {11: 6}, {11: 7}, {11: 8}, {11: 9}, {11: 10}, {11: 11}, {11: 12}, {11: 13}, {11: 14}, {11: 15}, {11: 16}, {11: 17}, {11: 18}, {11: 19}, {12: 0}, {12: 1}, {12: 2}, {12: 3}, {12: 4}, {12: 5}, {12: 6}, {12: 7}, {12: 8}, {12: 9}, {12: 10}, {12: 11}, {12: 12}, {12: 13}, {12: 14}, {12: 15}, {12: 16}, {12: 17}, {12: 18}, {12: 19}, {13: 0}, {13: 1}, {13: 2}, {13: 3}, {13: 4}, {13: 5}, {13: 6}, {13: 7}, {13: 8}, {13: 9}, {13: 10}, {13: 11}, {13: 12}, {13: 13}, {13: 14}, {13: 15}, {13: 16}, {13: 17}, {13: 18}, {13: 19}, {14: 0}, {14: 1}, {14: 2}, {14: 3}, {14: 4}, {14: 5}, {14: 6}, {14: 7}, {14: 8}, {14: 9}, {14: 10}, {14: 11}, {14: 12}, {14: 13}, {14: 14}, {14: 15}, {14: 16}, {14: 17}, {14: 18}, {14: 19}, {15: 0}, {15: 1}, {15: 2}, {15: 3}, {15: 4}, {15: 5}, {15: 6}, {15: 7}, {15: 8}, {15: 9}, {15: 10}, {15: 11}, {15: 12}, {15: 13}, {15: 14}, {15: 15}, {15: 16}, {15: 17}, {15: 18}, {15: 19}, {16: 0}, {16: 1}, {16: 2}, {16: 3}, {16: 4}, {16: 5}, {16: 6}, {16: 7}, {16: 8}, {16: 9}, {16: 10}, {16: 11}, {16: 12}, {16: 13}, {16: 14}, {16: 15}, {16: 16}, {16: 17}, {16: 18}, {16: 19}, {17: 0}, {17: 1}, {17: 2}, {17: 3}, {17: 4}, {17: 5}, {17: 6}, {17: 7}, {17: 8}, {17: 9}, {17: 10}, {17: 11}, {17: 12}, {17: 13}, {17: 14}, {17: 15}, {17: 16}, {17: 17}, {17: 18}, {17: 19}, {18: 0}, {18: 1}, {18: 2}, {18: 3}, {18: 4}, {18: 5}, {18: 6}, {18: 7}, {18: 8}, {18: 9}, {18: 10}, {18: 11}, {18: 12}, {18: 13}, {18: 14}, {18: 15}, {18: 16}, {18: 17}, {18: 18}, {18: 19}, {19: 0}, {19: 1}, {19: 2}, {19: 3}, {19: 4}, {19: 5}, {19: 6}, {19: 7}, {19: 8}, {19: 9}, {19: 10}, {19: 11}, {19: 12}, {19: 13}, {19: 14}, {19: 15}, {19: 16}, {19: 17}, {19: 18}, {19: 19}]
[{0}, {0, 1}, {0, 2}, {0, 3}, {0, 4}, {0, 5}, {0, 6}, {0, 7}, {0, 8}, {0, 9}, {0, 10}, {0, 11}, {0, 12}, {0, 13}, {0, 14}, {0, 15}, {0, 16}, {0, 17}, {0, 18}, {0, 19}, {0, 1}, {1}, {1, 2}, {1, 3}, {1, 4}, {1, 5}, {1, 6}, {1, 7}, {8, 1}, {1, 9}, {1, 10}, {1, 11}, {1, 12}, {1, 13}, {1, 14}, {1, 15}, {16, 1}, {1, 17}, {1, 18}, {1, 19}, {0, 2}, {1, 2}, {2}, {2, 3}, {2, 4}, {2, 5}, {2, 6}, {2, 7}, {8, 2}, {9, 2}, {2, 10}, {2, 11}, {2, 12}, {2, 13}, {2, 14}, {2, 15}, {16, 2}, {17, 2}, {2, 18}, {2, 19}, {0, 3}, {1, 3}, {2, 3}, {3}, {3, 4}, {3, 5}, {3, 6}, {3, 7}, {8, 3}, {9, 3}, {10, 3}, {11, 3}, {3, 12}, {3, 13}, {3, 14}, {3, 15}, {16, 3}, {17, 3}, {18, 3}, {19, 3}, {0, 4}, {1, 4}, {2, 4}, {3, 4}, {4}, {4, 5}, {4, 6}, {4, 7}, {8, 4}, {9, 4}, {10, 4}, {11, 4}, {4, 12}, {4, 13}, {4, 14}, {4, 15}, {16, 4}, {17, 4}, {18, 4}, {19, 4}, {0, 5}, {1, 5}, {2, 5}, {3, 5}, {4, 5}, {5}, {5, 6}, {5, 7}, {8, 5}, {9, 5}, {10, 5}, {11, 5}, {12, 5}, {13, 5}, {5, 14}, {5, 15}, {16, 5}, {17, 5}, {18, 5}, {19, 5}, {0, 6}, {1, 6}, {2, 6}, {3, 6}, {4, 6}, {5, 6}, {6}, {6, 7}, {8, 6}, {9, 6}, {10, 6}, {11, 6}, {12, 6}, {13, 6}, {6, 14}, {6, 15}, {16, 6}, {17, 6}, {18, 6}, {19, 6}, {0, 7}, {1, 7}, {2, 7}, {3, 7}, {4, 7}, {5, 7}, {6, 7}, {7}, {8, 7}, {9, 7}, {10, 7}, {11, 7}, {12, 7}, {13, 7}, {14, 7}, {15, 7}, {16, 7}, {17, 7}, {18, 7}, {19, 7}, {8, 0}, {8, 1}, {8, 2}, {8, 3}, {8, 4}, {8, 5}, {8, 6}, {8, 7}, {8}, {8, 9}, {8, 10}, {8, 11}, {8, 12}, {8, 13}, {8, 14}, {8, 15}, {8, 16}, {8, 17}, {8, 18}, {8, 19}, {0, 9}, {9, 1}, {9, 2}, {9, 3}, {9, 4}, {9, 5}, {9, 6}, {9, 7}, {8, 9}, {9}, {9, 10}, {9, 11}, {9, 12}, {9, 13}, {9, 14}, {9, 15}, {16, 9}, {9, 17}, {9, 18}, {9, 19}, {0, 10}, {1, 10}, {10, 2}, {10, 3}, {10, 4}, {10, 5}, {10, 6}, {10, 7}, {8, 10}, {9, 10}, {10}, {10, 11}, {10, 12}, {10, 13}, {10, 14}, {10, 15}, {16, 10}, {17, 10}, {10, 18}, {10, 19}, {0, 11}, {1, 11}, {2, 11}, {3, 11}, {11, 4}, {11, 5}, {11, 6}, {11, 7}, {8, 11}, {9, 11}, {10, 11}, {11}, {11, 12}, {11, 13}, {11, 14}, {11, 15}, {16, 11}, {17, 11}, {18, 11}, {19, 11}, {0, 12}, {1, 12}, {2, 12}, {3, 12}, {12, 4}, {12, 5}, {12, 6}, {12, 7}, {8, 12}, {9, 12}, {10, 12}, {11, 12}, {12}, {12, 13}, {12, 14}, {12, 15}, {16, 12}, {17, 12}, {18, 12}, {19, 12}, {0, 13}, {1, 13}, {2, 13}, {3, 13}, {4, 13}, {5, 13}, {13, 6}, {13, 7}, {8, 13}, {9, 13}, {10, 13}, {11, 13}, {12, 13}, {13}, {13, 14}, {13, 15}, {16, 13}, {17, 13}, {18, 13}, {19, 13}, {0, 14}, {1, 14}, {2, 14}, {3, 14}, {4, 14}, {5, 14}, {14, 6}, {14, 7}, {8, 14}, {9, 14}, {10, 14}, {11, 14}, {12, 14}, {13, 14}, {14}, {14, 15}, {16, 14}, {17, 14}, {18, 14}, {19, 14}, {0, 15}, {1, 15}, {2, 15}, {3, 15}, {4, 15}, {5, 15}, {6, 15}, {7, 15}, {8, 15}, {9, 15}, {10, 15}, {11, 15}, {12, 15}, {13, 15}, {14, 15}, {15}, {16, 15}, {17, 15}, {18, 15}, {19, 15}, {16, 0}, {16, 1}, {16, 2}, {16, 3}, {16, 4}, {16, 5}, {16, 6}, {16, 7}, {16, 8}, {16, 9}, {16, 10}, {16, 11}, {16, 12}, {16, 13}, {16, 14}, {16, 15}, {16}, {16, 17}, {16, 18}, {16, 19}, {0, 17}, {17, 1}, {17, 2}, {17, 3}, {17, 4}, {17, 5}, {17, 6}, {17, 7}, {8, 17}, {17, 9}, {17, 10}, {17, 11}, {17, 12}, {17, 13}, {17, 14}, {17, 15}, {16, 17}, {17}, {17, 18}, {17, 19}, {0, 18}, {1, 18}, {18, 2}, {18, 3}, {18, 4}, {18, 5}, {18, 6}, {18, 7}, {8, 18}, {9, 18}, {18, 10}, {18, 11}, {18, 12}, {18, 13}, {18, 14}, {18, 15}, {16, 18}, {17, 18}, {18}, {18, 19}, {0, 19}, {1, 19}, {2, 19}, {3, 19}, {19, 4}, {19, 5}, {19, 6}, {19, 7}, {8, 19}, {9, 19}, {10, 19}, {11, 19}, {19, 12}, {19, 13}, {19, 14}, {19, 15}, {16, 19}, {17, 19}, {18, 19}, {19}]
[[0, 0], [0, 1], [0, 2], [0, 3], [0, 4], [0, 5], [0, 6], [0, 7], [0, 8], [0, 9], [0, 10], [0, 11], [0, 12], [0, 13], [0, 14], [0, 15], [0, 16], [0, 17], [0, 18], [0, 19], [1, 0], [1, 1], [1, 2], [1, 3], [1, 4], [1, 5], [1, 6], [1, 7], [1, 8], [1, 9], [1, 10], [1, 11], [1, 12], [1, 13], [1, 14], [1, 15], [1, 16], [1, 17], [1, 18], [1, 19], [2, 0], [2, 1], [2, 2], [2, 3], [2, 4], [2, 5], [2, 6], [2, 7], [2, 8], [2, 9], [2, 10], [2, 11], [2, 12], [2, 13], [2, 14], [2, 15], [2, 16], [2, 17], [2, 18], [2, 19], [3, 0], [3, 1], [3, 2], [3, 3], [3, 4], [3, 5], [3, 6], [3, 7], [3, 8], [3, 9], [3, 10], [3, 11], [3, 12], [3, 13], [3, 14], [3, 15], [3, 16], [3, 17], [3, 18], [3, 19], [4, 0], [4, 1], [4, 2], [4, 3], [4, 4], [4, 5], [4, 6], [4, 7], [4, 8], [4, 9], [4, 10], [4, 11], [4, 12], [4, 13], [4, 14], [4, 15], [4, 16], [4, 17], [4, 18], [4, 19], [5, 0], [5, 1], [5, 2], [5, 3], [5, 4], [5, 5], [5, 6], [5, 7], [5, 8], [5, 9], [5, 10], [5, 11], [5, 12], [5, 13], [5, 14], [5, 15], [5, 16], [5, 17], [5, 18], [5, 19], [6, 0], [6, 1], [6, 2], [6, 3], [6, 4], [6, 5], [6, 6], [6, 7], [6, 8], [6, 9], [6, 10], [6, 11], [6, 12], [6, 13], [6, 14], [6, 15], [6, 16], [6, 17], [6, 18], [6, 19], [7, 0], [7, 1], [7, 2], [7, 3], [7, 4], [7, 5], [7, 6], [7, 7], [7, 8], [7, 9], [7, 10], [7, 11], [7, 12], [7, 13], [7, 14], [7, 15], [7, 16], [7, 17], [7, 18], [7, 19], [8, 0], [8, 1], [8, 2], [8, 3], [8, 4], [8, 5], [8, 6], [8, 7], [8, 8], [8, 9], [8, 10], [8, 11], [8, 12], [8, 13], [8, 14], [8, 15], [8, 16], [8, 17], [8, 18], [8, 19], [9, 0], [9, 1], [9, 2], [9, 3], [9, 4], [9, 5], [9, 6], [9, 7], [9, 8], [9, 9], [9, 10], [9, 11], [9, 12], [9, 13], [9, 14], [9, 15], [9, 16], [9, 17], [9, 18], [9, 19], [10, 0], [10, 1], [10, 2], [10, 3], [10, 4], [10, 5], [10, 6], [10, 7], [10, 8], [10, 9], [10, 10], [10, 11], [10, 12], [10, 13], [10, 14], [10, 15], [10, 16], [10, 17], [10, 18], [10, 19], [11, 0], [11, 1], [11, 2], [11, 3], [11, 4], [11, 5], [11, 6], [11, 7], [11, 8], [11, 9], [11, 10], [11, 11], [11, 12], [11, 13], [11, 14], [11, 15], [11, 16], [11, 17], [11, 18], [11, 19], [12, 0], [12, 1], [12, 2], [12, 3], [12, 4], [12, 5], [12, 6], [12, 7], [12, 8], [12, 9], [12, 10], [12, 11], [12, 12], [12, 13], [12, 14], [12, 15], [12, 16], [12, 17], [12, 18], [12, 19], [13, 0], [13, 1], [13, 2], [13, 3], [13, 4], [13, 5], [13, 6], [13, 7], [13, 8], [13, 9], [13, 10], [13, 11], [13, 12], [13, 13], [13, 14], [13, 15], [13, 16], [13, 17], [13, 18], [13, 19], [14, 0], [14, 1], [14, 2], [14, 3], [14, 4], [14, 5], [14, 6], [14, 7], [14, 8], [14, 9], [14, 10], [14, 11], [14, 12], [14, 13], [14, 14], [14, 15], [14, 16], [14, 17], [14, 18], [14, 19], [15, 0], [15, 1], [15, 2], [15, 3], [15, 4], [15, 5], [15, 6], [15, 7], [15, 8], [15, 9], [15, 10], [15, 11], [15, 12], [15, 13], [15, 14], [15, 15], [15, 16], [15, 17], [15, 18], [15, 19], [16, 0], [16, 1], [16, 2], [16, 3], [16, 4], [16, 5], [16, 6], [16, 7], [16, 8], [16, 9], [16, 10], [16, 11], [16, 12], [16, 13], [16, 14], [16, 15], [16, 16], [16, 17], [16, 18], [16, 19], [17, 0], [17, 1], [17, 2], [17, 3], [17, 4], [17, 5], [17, 6], [17, 7], [17, 8], [17, 9], [17, 10], [17, 11], [17, 12], [17, 13], [17, 14], [17, 15], [17, 16], [17, 17], [17, 18], [17, 19], [18, 0], [18, 1], [18, 2], [18, 3], [18, 4], [18, 5], [18, 6], [18, 7], [18, 8], [18, 9], [18, 10], [18, 11], [18, 12], [18, 13], [18, 14], [18, 15], [18, 16], [18, 17], [18, 18], [18, 19], [19, 0], [19, 1], [19, 2], [19, 3], [19, 4], [19, 5], [19, 6], [19, 7], [19, 8], [19, 9], [19, 10], [19, 11], [19, 12], [19, 13], [19, 14], [19, 15], [19, 16], [19, 17], [19, 18], [19, 19]]

In [90]:
print ([(x,y) for x in [1,2,3] for y in [1,2,3]])

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]

In [91]:
print ([{x,y} for x in range(20) for y in range(20) if x == y])
print ([(x,y) for x in range(20) for y in range(20) if x == y])
print ([{x:y} for x in range(20) for y in range(20) if x == y])
print ([[x,y] for x in range(20) for y in range(20) if x == y])

[{0}, {1}, {2}, {3}, {4}, {5}, {6}, {7}, {8}, {9}, {10}, {11}, {12}, {13}, {14}, {15}, {16}, {17}, {18}, {19}]
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9), (10, 10), (11, 11), (12, 12), (13, 13), (14, 14), (15, 15), (16, 16), (17, 17), (18, 18), (19, 19)]
[{0: 0}, {1: 1}, {2: 2}, {3: 3}, {4: 4}, {5: 5}, {6: 6}, {7: 7}, {8: 8}, {9: 9}, {10: 10}, {11: 11}, {12: 12}, {13: 13}, {14: 14}, {15: 15}, {16: 16}, {17: 17}, {18: 18}, {19: 19}]
[[0, 0], [1, 1], [2, 2], [3, 3], [4, 4], [5, 5], [6, 6], [7, 7], [8, 8], [9, 9], [10, 10], [11, 11], [12, 12], [13, 13], [14, 14], [15, 15], [16, 16], [17, 17], [18, 18], [19, 19]]

In [92]:
print (["{name} is a {work}.".format(name = name, work = job) for name in ['Ahmed', 'Mohamed', 'Yousif', 'Islam'] for job in ['Scientist', 'Analyst', 'Engineer', 'Doctor']])

['Ahmed is a Scientist.', 'Ahmed is a Analyst.', 'Ahmed is a Engineer.', 'Ahmed is a Doctor.', 'Mohamed is a Scientist.', 'Mohamed is a Analyst.', 'Mohamed is a Engineer.', 'Mohamed is a Doctor.', 'Yousif is a Scientist.', 'Yousif is a Analyst.', 'Yousif is a Engineer.', 'Yousif is a Doctor.', 'Islam is a Scientist.', 'Islam is a Analyst.', 'Islam is a Engineer.', 'Islam is a Doctor.']

In [93]:
x = iter([1,2,3,4,5,6]) # can work as a queue
print (x)
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))

<list_iterator object at 0x0000023DFF7CF7C0>
1
2
3
4
5
6

In [94]:
x = iter(np.array([1,2,3,4,5,6], dtype='float64'))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))

1.0
2.0
3.0
4.0
5.0
6.0

In [95]:
x = iter({0,1,2,3,4,5})
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))

0
1
2
3
4
5

In [96]:
x = iter({0:1,1:2,2:3,3:4,4:5,5:6})
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))

0
1
2
3
4
5

In [97]:
a = list()
for index, val in enumerate(range(1,30), 0):
  a.append({index: val})
print (a)

[{0: 1}, {1: 2}, {2: 3}, {3: 4}, {4: 5}, {5: 6}, {6: 7}, {7: 8}, {8: 9}, {9: 10}, {10: 11}, {11: 12}, {12: 13}, {13: 14}, {14: 15}, {15: 16}, {16: 17}, {17: 18}, {18: 19}, {19: 20}, {20: 21}, {21: 22}, {22: 23}, {23: 24}, {24: 25}, {25: 26}, {26: 27}, {27: 28}, {28: 29}]

In [98]:
a = ['Yousif', 'Mohamed', 'Ahmed', 'Khaled']
b = ['Egypt', 'Libya', 'Tunis', 'Yamen']
c = [18,20,42,14]
for a1,b1,c1 in zip(a,b,c):
  print ("{0} whose age is {1} lives in {2}.".format(a1,c1,b1))
for a,b,c in zip(a,b,c):
  print ("('{}','{}',{})".format(a,b,c), end=',')

Yousif whose age is 18 lives in Egypt.
Mohamed whose age is 20 lives in Libya.
Ahmed whose age is 42 lives in Tunis.
Khaled whose age is 14 lives in Yamen.
('Yousif','Egypt',18),('Mohamed','Libya',20),('Ahmed','Tunis',42),('Khaled','Yamen',14),

In [99]:
from operator import itemgetter, methodcaller
a = [('Yousif','Egypt',18),('Mohamed','Libya',20),('Ahmed','Tunis',42),('Khaled','Yamen',14)]
print(sorted(a, reverse=False, key= lambda c:c[0]))
print(sorted(a, reverse=False, key= lambda c:c[1]))
print(sorted(a, reverse=False, key= lambda c:c[2]))
print(sorted(a, reverse=True, key= lambda c:c[0]))
print(sorted(a, reverse=True, key= lambda c:c[1]))
print(sorted(a, reverse=True, key= lambda c:c[2]))

[('Ahmed', 'Tunis', 42), ('Khaled', 'Yamen', 14), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18)]
[('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Ahmed', 'Tunis', 42), ('Khaled', 'Yamen', 14)]
[('Khaled', 'Yamen', 14), ('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Ahmed', 'Tunis', 42)]
[('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Khaled', 'Yamen', 14), ('Ahmed', 'Tunis', 42)]
[('Khaled', 'Yamen', 14), ('Ahmed', 'Tunis', 42), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18)]
[('Ahmed', 'Tunis', 42), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18), ('Khaled', 'Yamen', 14)]

In [100]:
print(sorted(a, reverse=False, key = itemgetter(0)))
print(sorted(a, reverse=False, key = itemgetter(1)))
print(sorted(a, reverse=False, key = itemgetter(2)))
print(sorted(a, reverse=True, key = itemgetter(0)))
print(sorted(a, reverse=True, key = itemgetter(1)))
print(sorted(a, reverse=True, key = itemgetter(2)))

[('Ahmed', 'Tunis', 42), ('Khaled', 'Yamen', 14), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18)]
[('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Ahmed', 'Tunis', 42), ('Khaled', 'Yamen', 14)]
[('Khaled', 'Yamen', 14), ('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Ahmed', 'Tunis', 42)]
[('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Khaled', 'Yamen', 14), ('Ahmed', 'Tunis', 42)]
[('Khaled', 'Yamen', 14), ('Ahmed', 'Tunis', 42), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18)]
[('Ahmed', 'Tunis', 42), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18), ('Khaled', 'Yamen', 14)]

In [101]:
print(sorted(a, reverse=False, key = itemgetter(2,1,0)))

[('Khaled', 'Yamen', 14), ('Yousif', 'Egypt', 18), ('Mohamed', 'Libya', 20), ('Ahmed', 'Tunis', 42)]

In [102]:
a.sort(key=itemgetter(0,1,2), reverse=False)
print (a)

[('Ahmed', 'Tunis', 42), ('Khaled', 'Yamen', 14), ('Mohamed', 'Libya', 20), ('Yousif', 'Egypt', 18)]

# Sets

In [103]:
sets = {n ** 2 for n in range (11,22,2)}
lists = [n ** 2 for n in range (11,22,2)]
print (sets)
print (lists)

{225, 289, 169, 361, 441, 121}
[121, 169, 225, 289, 361, 441]

In [104]:
# to convert from set to list
a = list(sets)
print (a)
a.sort()
print (a)

[225, 289, 169, 361, 441, 121]
[121, 169, 225, 289, 361, 441]

In [105]:
b = [1,2,2,4,5,6]
print(a and b)
print(b and a)
print(a or b)
print(b or a)
b = set(b)
a = set(a)
print(a and b)
print(b and a)
print(a or b)
print(b or a)

[1, 2, 2, 4, 5, 6]
[121, 169, 225, 289, 361, 441]
[121, 169, 225, 289, 361, 441]
[1, 2, 2, 4, 5, 6]
{1, 2, 4, 5, 6}
{225, 289, 169, 361, 441, 121}
{225, 289, 169, 361, 441, 121}
{1, 2, 4, 5, 6}

In [106]:
a = {'Egypt', 'Russia', 'China', 'South-Korea', 'Mexico', 'USA'}
b = {'Egypt', 'USA', 'France', 'China', 'South-Korea', 'North-Korea', 'Calefornia', 'Texas', 'NewYork'}
#Union
print (a|b)
print (a.union(b))
print (b.union(a))
print ("1-----------------------------------")
#Intersection
print (a&b)
print (a.intersection(b))
print (b.intersection(a))
print ("2-----------------------------------")
#All elements except the common
print (a^b)
print (a.symmetric_difference(b))
print (b.symmetric_difference(a))
print ("3-----------------------------------")
#The first element except the common in the second element
print (a-b)
print (b-a)
print (a.difference(b))
print (b.difference(a))

{'Egypt', 'Mexico', 'USA', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia', 'South-Korea', 'China'}
{'Egypt', 'Mexico', 'USA', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia', 'South-Korea', 'China'}
{'Egypt', 'Mexico', 'USA', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia', 'South-Korea', 'China'}
1-----------------------------------
{'USA', 'South-Korea', 'Egypt', 'China'}
{'USA', 'South-Korea', 'Egypt', 'China'}
{'USA', 'South-Korea', 'Egypt', 'China'}
2-----------------------------------
{'Mexico', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia'}
{'Mexico', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia'}
{'Mexico', 'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas', 'Russia'}
3-----------------------------------
{'Russia', 'Mexico'}
{'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas'}
{'Russia', 'Mexico'}
{'NewYork', 'North-Korea', 'France', 'Calefornia', 'Texas'}

# Dictionary

In [107]:
a = {n:n**2 for n in range(1, 26, 2)}
b = {"%d"%(n): "%s"%(n**2) for n in range(1,26, 2)}
c = {"%s"%(n): "%s"%(n**0.5) for n in range(1,26, 2)}
print (a)
print (b)
print (c)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625}
{'1': '1', '3': '9', '5': '25', '7': '49', '9': '81', '11': '121', '13': '169', '15': '225', '17': '289', '19': '361', '21': '441', '23': '529', '25': '625'}
{'1': '1.0', '3': '1.7320508075688772', '5': '2.23606797749979', '7': '2.6457513110645907', '9': '3.0', '11': '3.3166247903554', '13': '3.605551275463989', '15': '3.872983346207417', '17': '4.123105625617661', '19': '4.358898943540674', '21': '4.58257569495584', '23': '4.795831523312719', '25': '5.0'}

In [108]:
a[26] = 26
a[29] = 29
print (a)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625, 26: 26, 29: 29}

In [109]:
print (26 in a.keys()) # use to check if this key element is in dictionary or not
print (27 in a) # use to check if this key element is in dictionary or not
print (1 in a.values()) # use to check if this value element is in dictionary or not
print (2 in a.values())
print (26 in a.values())

True
False
True
False
True

In [110]:
print (a.get(0))
print (a.get(1))
print (a.get(3))
print (a.get(0, "Can't find"))
print (a.get(3, "Can't find"))

None
1
9
Can't find
9

In [111]:
# deleting an elements in a dictionary
del(a[26])
print (a)
del(a[29])
print (a)
c = a.copy()
b = a 
a.clear()
print (b)
print (a)
print (c)
del(b)
print (a)
a = c

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625, 29: 29}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625}
{}
{}
{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625}
{}

In [112]:
d = iter(a)
for i in range(len(a)):
  print (next(d))

1
3
5
7
9
11
13
15
17
19
21
23
25

In [113]:
print (list(a))
print (list(a.keys()))
print (list(a.values()))
print (tuple(a.keys()))
print (tuple(a.values()))
print (list(a.items()))
print (tuple(a.items()))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625]
(1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25)
(1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625)
[(1, 1), (3, 9), (5, 25), (7, 49), (9, 81), (11, 121), (13, 169), (15, 225), (17, 289), (19, 361), (21, 441), (23, 529), (25, 625)]
((1, 1), (3, 9), (5, 25), (7, 49), (9, 81), (11, 121), (13, 169), (15, 225), (17, 289), (19, 361), (21, 441), (23, 529), (25, 625))

In [114]:
# How to convert from list or tuple to dictionary
list1 = [n for n in range(31)]
list2 = [n ** 2 for n in range(31)]
a = dict.fromkeys(list1)
print (a)
for b, c in zip (list1, list2):
  a[b] = c
print (a)

{0: None, 1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None, 10: None, 11: None, 12: None, 13: None, 14: None, 15: None, 16: None, 17: None, 18: None, 19: None, 20: None, 21: None, 22: None, 23: None, 24: None, 25: None, 26: None, 27: None, 28: None, 29: None, 30: None}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}

##### Building a function that convert the two lists to dictionary
* Note: The two lists numst have the same size

In [115]:
def list_to_dict(list1, list2):
  if (len(list1) != len(list2)):
    print ("The two lists are not equal in size")
    return -1
  else:
    a = dict.fromkeys(list1)
    for b, c in zip(list1, list2):
      a[b] = c
    return a

#best in performance
def list_to_dict2(list1, list2):
  if (len(list1) != len(list2)):
    print ("The two lists are not equal in size")
    return -1
  else:
    return {a: b for a, b in zip(list1, list2)}

In [116]:
print (list_to_dict([n for n in range(31)], [n**2 for n in range(31)]))
print (list_to_dict2([n for n in range(31)], [n**2 for n in range(31)]))
print (list_to_dict2([n for n in range(31)], [n**2 for n in range(30)]))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900}
The two lists are not equal in size
-1

In [117]:
while i < 10:
  i += 1
print(i)

12

# Statistics librairy

In [118]:
import statistics as st
print (st.mode([1,2,3,4,5,5]))
print (st.median([1,2,3,5,4]))
print (st.mean(np.array([1,2,3,4,5])))
print (st.harmonic_mean(np.array([1,2,3,4,5,6])))
print (st.stdev([1,2,3,4,5,6]))

5
3
3
2.4489795918367347
1.8708286933869707

In [119]:
#The difference between median_low and median_high
print (st.median([1,2,3,4,5,6]))
print (st.median_low([1,2,3,4,5,6]))
print (st.median_high([1,2,3,4,5,6]))

3.5
3
4

# Random Librairy

In [120]:
import random as rn
print (rn.random())
print (rn.random() * 100) # to get random %

0.9309759791500537
34.57203891100852

In [121]:
print (rn.randint(1,20))

15

In [122]:
# making a function that returns a random decimal number in a range
def rand_decimal_nums(a,b):
  fraction = rn.random()
  if (fraction == 0):
    return rn.randint(a,b)
  else:
    num = rn.randint(a,b)
    if (num == b):
      num -= 1
    return float(num) + rn.random()

In [123]:
print (rand_decimal_nums(1,3))

2.06295341894691

In [124]:
print (rn.uniform(1,20)) # returns a random decimal number in a range

12.04975487401295

In [125]:
print (rn.randrange(4)) # from 0 till the number - 1

1

In [126]:
print (rn.randrange(1,20,2)) # differs from randint that it has a range and take from it randomly

3

In [127]:
# for selecting randomly from a list 
print (rn.choice(['a', True, False, 'b']))
print (rn.choice(np.array([1,2,3,4,5,6])))
print (rn.choice(range(0,20,3))) # getting a random number divide by three

a
4
3

In [128]:
# for getting multible choices as a list from a big list
print (rn.sample(range(0,21), 10))
# for make the size more random
print (rn.sample(range(0,21), rn.randint(0,20)))

[12, 16, 5, 15, 2, 8, 6, 3, 0, 11]
[3, 20, 2]

In [129]:
# for disorting the sorted array or disorting any array
items = [1,2,3,4,5]
rn.shuffle(items) # This algorithm is in place
print (items)

[3, 2, 4, 5, 1]

In [130]:
items = [1, 2, 3, 4, 5]
res = rn.sample(items, len(items))
print(res)

[5, 3, 2, 4, 1]

# Functions

In [131]:
def sum(*nums):
  sum = 0
  for num in nums:
    sum += num
  return sum

print(sum(1,2,3,4,5,5,6,7,8,9))
def avg(*nums):
  return sum(*nums) / len(nums)
print (avg(1,3,2,4))

50
2.5

In [132]:
nums = (1,2,3)
print (*nums)

1 2 3

In [133]:
def dict(**values):
  return values
print (dict(one = 1, two = 2))

{'one': 1, 'two': 2}

In [134]:
def dict2(**values):
  for key, val in values.items():
    print ("{} = {}".format(key, val), end = ' ')
dict2(one = 1, num = 2, tre = 3)

one = 1 num = 2 tre = 3

# Lambda as a function

In [135]:
power = lambda x,y : x**y
print (power(4,5))

1024

In [136]:
nums = [1,2,3,4,5,6,7,8,9,10]
number = list(filter(lambda x: x % 2 == 0, nums))
print (number)
number = list(filter(lambda x: x in [y for y in range(0,6,2)], nums))
print (number)

[2, 4, 6, 8, 10]
[2, 4]

In [137]:
def even(num):
  if num % 2:
    return 0
  else:
    return 1
number = list(filter(even, nums))
print (number)

[2, 4, 6, 8, 10]