In [166]:
import pandas as pd
import numpy as np

In [83]:
df2 = pd.read_excel(r"C:\Users\elkha\Downloads\Benha University - All Faculities.xlsx", names=['Identity Code', 'Name', 'Faculty in benha'], sheet_name='Sheet1')
df2

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
2755,2749,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
2756,2750,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
2757,2934,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
2758,3005,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
2759,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

In [84]:
df2['Faculty in benha'].unique()

array(['Faculty of Agriculture', 'Faculty of Applied Arts',
       'Faculty of Arts', 'Faculty of Commerce',
       'Faculty of Computer and Artificial Intelligence',
       'Faculty of Education', 'Faculty of Engineering (Benha)',
       'Faculty of Engineering (Shoubra)', 'Faculty of Law',
       'Faculty of Medicine', 'Faculty of Nursing',
       'Faculty of Physical Education', 'Faculty of Physical Therapy',
       'Faculty of Science', 'Faculty of Specific Education',
       'Faculty of Veterinary Medicine'], dtype=object)

In [85]:
df2[1:11]

    Identity Code                             Name        Faculty in benha
1               2  Samar Abdalaziz Ahmed Eltarawy   Faculty of Agriculture
2               4        Ahmed Elsayed Gouda Attia  Faculty of Agriculture
3               5               Zeyad Osama Farag   Faculty of Agriculture
4               6        Asmaa Ibrahim Nabih Salah  Faculty of Agriculture
5               7    Mohammed Naser Mohammed Eraky  Faculty of Agriculture
6               8                Salma Ehab Qamar   Faculty of Agriculture
7               9      Sayed Khaled Elsayed Hassan  Faculty of Agriculture
8              10         Karim Mohamed Mousa  Eid  Faculty of Agriculture
9              11      Mohammad Gamal Araby Heraiz  Faculty of Agriculture
10             12              Fatima desoky amer   Faculty of Agriculture

In [86]:
#for displaying all the rows
pd.set_option('display.max.rows', 100)

In [87]:
df2

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
2755,2749,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
2756,2750,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
2757,2934,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
2758,3005,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
2759,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

In [88]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2760 entries, 0 to 2759
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Identity Code     2760 non-null   int64
 1   Name              2760 non-null   object
 2   Faculty in benha  2760 non-null   object
dtypes: int64(1), object(2)
memory usage: 64.8+ KB

In [89]:
df2.head(10)

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
5,7,Mohammed Naser Mohammed Eraky,Faculty of Agriculture
6,8,Salma Ehab Qamar,Faculty of Agriculture
7,9,Sayed Khaled Elsayed Hassan,Faculty of Agriculture
8,10,Karim Mohamed Mousa Eid,Faculty of Agriculture
9,11,Mohammad Gamal Araby Heraiz,Faculty of Agriculture

In [90]:
df2['Name']

0       Radwa Abdelrazik Abdelwhab Salem Goma Wady
1                   Samar Abdalaziz Ahmed Eltarawy
2                         Ahmed Elsayed Gouda Attia
3                                Zeyad Osama Farag
4                         Asmaa Ibrahim Nabih Salah
                           ...
2755           Khaled Elsayed Abdelmaaboud Elsayed
2756             Rana Ahmed Mohamed Mohamed Hassan
2757                   Malak Hany Ebrahim El Saudi
2758                    Fatma Mohammed Mahmoud Qamr
2759          Aya_Tullah Bauomi Sayed Al_Fakharany
Name: Name, Length: 2760, dtype: object

In [91]:
df2.loc[1100]

Identity Code                                                  1109
Name                     Ahmed Elsayed Saber Elsayed Ali Elsharkawy
Faculty in benha    Faculty of Computer and Artificial Intelligence
Name: 1100, dtype: object

In [92]:
df2.iloc[1100]

Identity Code                                                  1109
Name                     Ahmed Elsayed Saber Elsayed Ali Elsharkawy
Faculty in benha    Faculty of Computer and Artificial Intelligence
Name: 1100, dtype: object

In [93]:
df2[df2['Identity Code'] <= 250]

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
209,244,Menna Madian Abdellrahman,Faculty of Agriculture
210,245,Shahd sameh elsayed,Faculty of Agriculture
211,247,R,Faculty of Agriculture
212,248,Manal Abdullah shaban salama,Faculty of Agriculture
213,249,Menna Abdullah Ismael Afifi,Faculty of Agriculture

In [94]:
df2[0:251]

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
246,290,Roaa Mohamed Hemid Hamed Abeed,Faculty of Agriculture
247,291,Alyaa Mousa Elsayed Mousa Aly Allam,Faculty of Agriculture
248,292,Marina Ayman Gad Fahmy,Faculty of Agriculture
249,293,Rewan Mostafa Elsayed,Faculty of Agriculture
250,294,Kholoud Ezzat Fathy,Faculty of Agriculture

In [95]:
s_facluties= ['Faculty of Computer and Artificial Intelligence', 'Faculty of Engineering (Benha)','Faculty of Engineering (Shoubra)']
df2[df2['Faculty in benha'].isin(s_facluties)]

,Identity Code,Name,Faculty in benha
728,687,Ahmed Hazem Elabady,Faculty of Computer and Artificial Intelligence
729,688,عبدالله طارق علي,Faculty of Computer and Artificial Intelligence
730,689,جنه اشرف محمد عبد الحميد,Faculty of Computer and Artificial Intelligence
731,690,Mohammed Metwally Abouelnasr Metwally Salem,Faculty of Computer and Artificial Intelligence
732,691,Mostafa Mahmoud,Faculty of Computer and Artificial Intelligence
...,...,...,...
2053,2984,Manar Gafar,Faculty of Engineering (Shoubra)
2054,2997,Abdullah Yasser Abdullah,Faculty of Engineering (Shoubra)
2055,3004,Abdulrahman Eid Emam,Faculty of Engineering (Shoubra)
2056,3045,Salah El-Din Saeed Ismail Abdel Aziz Ibrahim A...,Faculty of Engineering (Shoubra)
2057,3111,Nourhan Nagy Mahdy,Faculty of Engineering (Shoubra)

In [96]:
df2[df2['Name'].str.contains('Yousif')]

,Identity Code,Name,Faculty in benha
116,130,Yousif Mohamed Khalifa,Faculty of Agriculture
878,842,Yousif Hisham Abdelfatah Abdelazim,Faculty of Computer and Artificial Intelligence
1346,1390,Yousif Ibrahim Abd Almotalib,Faculty of Computer and Artificial Intelligence
1368,1416,Yousif Osama Rashad Ahmed,Faculty of Computer and Artificial Intelligence
1839,1843,Yousif Sherif Ahmed Shawky,Faculty of Engineering (Benha)
2474,2453,Yousif Mohamed Saied,Faculty of Science

In [97]:
df3 = df2.set_index('Faculty in benha')
df3

,Identity Code,Name
Faculty in benha,,
Faculty of Agriculture,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady
Faculty of Agriculture,2,Samar Abdalaziz Ahmed Eltarawy
Faculty of Agriculture,4,Ahmed Elsayed Gouda Attia
Faculty of Agriculture,5,Zeyad Osama Farag
Faculty of Agriculture,6,Asmaa Ibrahim Nabih Salah
...,...,...
Faculty of Veterinary Medicine,2749,Khaled Elsayed Abdelmaaboud Elsayed
Faculty of Veterinary Medicine,2750,Rana Ahmed Mohamed Mohamed Hassan
Faculty of Veterinary Medicine,2934,Malak Hany Ebrahim El Saudi
Faculty of Veterinary Medicine,3005,Fatma Mohammed Mahmoud Qamr
Faculty of Veterinary Medicine,3099,Aya_Tullah Bauomi Sayed Al_Fakharany

In [98]:
df3.filter(items=['Name'], axis=1)

                                                                       Name
Faculty in benha
Faculty of Agriculture          Radwa Abdelrazik Abdelwhab Salem Goma Wady
Faculty of Agriculture                      Samar Abdalaziz Ahmed Eltarawy
Faculty of Agriculture                            Ahmed Elsayed Gouda Attia
Faculty of Agriculture                                   Zeyad Osama Farag
Faculty of Agriculture                            Asmaa Ibrahim Nabih Salah
...                                                                     ...
Faculty of Veterinary Medicine         Khaled Elsayed Abdelmaaboud Elsayed
Faculty of Veterinary Medicine           Rana Ahmed Mohamed Mohamed Hassan
Faculty of Veterinary Medicine                 Malak Hany Ebrahim El Saudi
Faculty of Veterinary Medicine                  Fatma Mohammed Mahmoud Qamr
Faculty of Veterinary Medicine        Aya_Tullah Bauomi Sayed Al_Fakharany

[2760 rows x 1 columns]

In [99]:
df3.loc['Faculty of Agriculture']

,Identity Code,Name
Faculty in benha,,
Faculty of Agriculture,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady
Faculty of Agriculture,2,Samar Abdalaziz Ahmed Eltarawy
Faculty of Agriculture,4,Ahmed Elsayed Gouda Attia
Faculty of Agriculture,5,Zeyad Osama Farag
Faculty of Agriculture,6,Asmaa Ibrahim Nabih Salah
...,...,...
Faculty of Agriculture,3087,Lobna Waleed Abd Elhamed
Faculty of Agriculture,3092,Radwa Hany Abdulsalam Hussein
Faculty of Agriculture,3094,Donia Mohamed Atef Ateya
Faculty of Agriculture,3095,Sama Alaa Mohamed
Faculty of Agriculture,3097,آلاء وائل عطيه امين

In [100]:
iran = pd.read_csv(r"C:\Users\elkha\Downloads\iranian_national_id_card_data.csv")
iran

,id,national_id,first_name,last_name,date_of_birth,father_name,expiry_date
0,1,5116168397,مبینا,اسدی,1380/04/01,نریمان,1409/10/19
1,2,5182864095,سمانه,خزایی,1385/08/04,یزدان,1414/11/23
2,3,4813522511,شکوفه,میرزایی,1373/02/26,گرشاسب,1412/12/29
3,4,7815520112,بنفشه,پورعلی,1384/02/20,سورنا,1412/08/08
4,5,5665109964,گشتاسپ,علیزاده,1367/08/27,سهراب,1410/03/03
...,...,...,...,...,...,...,...
1995,1996,1104184879,خسرو,آقایی,1377/04/14,آبتین,1413/11/25
1996,1997,3865091369,یگانه,گلشنی,1366/11/01,سروش,1414/11/26
1997,1998,2058831996,حشمت,زندی,1379/02/18,غلامرضا,1409/10/15
1998,1999,8923759176,اکبر,پناهی,1378/09/09,غلامرضا,1409/06/08
1999,2000,4682014169,مستانه,مردانی,1377/02/02,پارمیس,1405/05/15

In [101]:
#pd.set_option('display.max.rows', 2000)
#iran
df3.filter(like='100', axis=1)

Empty DataFrame
Columns: []
Index: [Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, Faculty of Agriculture, ...]

[2760 rows x 0 columns]

In [102]:
iran.sort_values(by='expiry_date', ascending=True)

,id,national_id,first_name,last_name,date_of_birth,father_name,expiry_date
1399,1400,5729709267,سمانه,واحدی,1379/11/27,سورنا,1405/01/01
1291,1292,3298156366,زرافشان,زندی,1380/01/19,هژیر,1405/01/03
7,8,9794376184,بهرام,زرگر,1369/09/06,بهزاد,1405/01/12
916,917,7411234656,روژین,خالقی,1363/08/12,مانوش,1405/01/12
353,354,2989970254,شاهین,عابدینی,1368/01/21,پرویز,1405/01/13
...,...,...,...,...,...,...,...
1725,1726,6531620471,اردلان,میرباقری,1372/08/23,یاسین,1415/12/17
334,335,1391816129,شهرزاد,کریمی,1369/02/13,فرشاد,1415/12/20
133,134,3503227322,یغما,کارگر,1379/11/19,مهران,1415/12/24
1075,1076,3125995413,فیروز,کیانی,1383/05/09,آرمین,1415/12/26
1951,1952,7831690012,نیایش,ندوی,1373/07/17,یارتا,1415/12/27

In [103]:
iran.set_index('national_id', inplace=True)
iran

               id first_name last_name date_of_birth father_name expiry_date
national_id
5116168397      1      مبینا      اسدی    1380/04/01      نریمان  1409/10/19
5182864095      2      سمانه     خزایی    1385/08/04       یزدان  1414/11/23
4813522511      3      شکوفه   میرزایی    1373/02/26      گرشاسب  1412/12/29
7815520112      4      بنفشه    پورعلی    1384/02/20       سورنا  1412/08/08
5665109964      5     گشتاسپ   علیزاده    1367/08/27       سهراب  1410/03/03
...           ...        ...       ...           ...         ...         ...
1104184879   1996       خسرو     آقایی    1377/04/14       آبتین  1413/11/25
3865091369   1997      یگانه     گلشنی    1366/11/01        سروش  1414/11/26
2058831996   1998       حشمت      زندی    1379/02/18     غلامرضا  1409/10/15
8923759176   1999       اکبر     پناهی    1378/09/09     غلامرضا  1409/06/08
4682014169   2000     مستانه    مردانی    1377/02/02      پارمیس  1405/05/15

[2000 rows x 6 columns]

In [104]:
iran.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2000 entries, 5116168397 to 4682014169
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             2000 non-null   int64
 1   first_name     2000 non-null   object
 2   last_name      2000 non-null   object
 3   date_of_birth  2000 non-null   object
 4   father_name    2000 non-null   object
 5   expiry_date    2000 non-null   object
dtypes: int64(1), object(5)
memory usage: 109.4+ KB

In [105]:
iran.loc[5116168397]

id                        1
first_name            مبینا
last_name              اسدی
date_of_birth    1380/04/01
father_name          نریمان
expiry_date      1409/10/19
Name: 5116168397, dtype: object

In [106]:
iran.iloc[0]

id                        1
first_name            مبینا
last_name              اسدی
date_of_birth    1380/04/01
father_name          نریمان
expiry_date      1409/10/19
Name: 5116168397, dtype: object

In [107]:
iran.sort_index(ascending=True, inplace=True)
iran

               id first_name last_name date_of_birth father_name expiry_date
national_id
1007303834   1421     یزدگرد     تاجیک    1367/10/07        آرتا  1412/07/17
1010185186    855       محیا    منصوری    1383/03/26       مسعود  1407/02/22
1016220363    951     ارغوان    اقبالی    1362/11/16        جمال  1409/06/26
1037728306   1588       دنیا      زرین    1384/12/10        رحیم  1408/08/17
1043845431    830       قاسم     مقیمی    1381/02/13       پدرام  1407/07/13
...           ...        ...       ...           ...         ...         ...
9968260942   1366      مجتبی   عابدینی    1381/10/28        ناصر  1408/11/26
9990480498    403    ابراهیم     شریفی    1382/04/08        نیما  1414/12/02
9993596498   1703      بردیا     فقیهی    1374/01/23     محمدرضا  1406/04/01
9996376998   1980      خدیجه  میرحسینی    1370/02/03    محمدمهدی  1413/02/20
9999482410    670      سیامک    ادریسی    1380/06/24        سروش  1411/03/18

[2000 rows x 6 columns]

In [108]:
df3.drop(columns=['Name'], inplace=True)
count = df3.groupby('Faculty in benha')
count.mean()

                                                 Identity Code
Faculty in benha
Faculty of Agriculture                              638.600000
Faculty of Applied Arts                             491.235294
Faculty of Arts                                     732.619048
Faculty of Commerce                                 888.174648
Faculty of Computer and Artificial Intelligence    1359.507583
Faculty of Education                               1854.351351
Faculty of Engineering (Benha)                     1912.808917
Faculty of Engineering (Shoubra)                   2101.040816
Faculty of Law                                     2338.078261
Faculty of Medicine                                2133.500000
Faculty of Nursing                                 2137.000000
Faculty of Physical Education                      2206.740741
Faculty of Physical Therapy                        2168.625000
Faculty of Science                                 2446.184959
Faculty of Specific Education                      2743.000000
Faculty of Veterinary Medicine                     2758.000000

In [109]:
count.count()

                                                 Identity Code
Faculty in benha
Faculty of Agriculture                                     335
Faculty of Applied Arts                                     17
Faculty of Arts                                             21
Faculty of Commerce                                        355
Faculty of Computer and Artificial Intelligence            989
Faculty of Education                                        37
Faculty of Engineering (Benha)                             157
Faculty of Engineering (Shoubra)                           147
Faculty of Law                                             115
Faculty of Medicine                                          2
Faculty of Nursing                                           5
Faculty of Physical Education                               27
Faculty of Physical Therapy                                  8
Faculty of Science                                         492
Faculty of Specific Education                               19
Faculty of Veterinary Medicine                              34

In [110]:
count.min()

                                                 Identity Code
Faculty in benha
Faculty of Agriculture                                       1
Faculty of Applied Arts                                    327
Faculty of Arts                                            346
Faculty of Commerce                                        365
Faculty of Computer and Artificial Intelligence            687
Faculty of Education                                      1700
Faculty of Engineering (Benha)                            1737
Faculty of Engineering (Shoubra)                          1906
Faculty of Law                                            2045
Faculty of Medicine                                       2133
Faculty of Nursing                                        2135
Faculty of Physical Education                             2140
Faculty of Physical Therapy                               2165
Faculty of Science                                        2174
Faculty of Specific Education                             2699
Faculty of Veterinary Medicine                            2716

In [111]:
count.max()

                                                 Identity Code
Faculty in benha
Faculty of Agriculture                                    3097
Faculty of Applied Arts                                   2994
Faculty of Arts                                           3107
Faculty of Commerce                                       3088
Faculty of Computer and Artificial Intelligence           3115
Faculty of Education                                      3060
Faculty of Engineering (Benha)                            3083
Faculty of Engineering (Shoubra)                          3111
Faculty of Law                                            3078
Faculty of Medicine                                       2134
Faculty of Nursing                                        2139
Faculty of Physical Education                             3006
Faculty of Physical Therapy                               2173
Faculty of Science                                        3096
Faculty of Specific Education                             3054
Faculty of Veterinary Medicine                            3099

In [112]:
df3.max()

Identity Code    3115
dtype: int64

In [113]:
count.sum()

                                                 Identity Code
Faculty in benha
Faculty of Agriculture                                  213931
Faculty of Applied Arts                                   8351
Faculty of Arts                                          15385
Faculty of Commerce                                     315302
Faculty of Computer and Artificial Intelligence        1344553
Faculty of Education                                     68611
Faculty of Engineering (Benha)                          300311
Faculty of Engineering (Shoubra)                        308853
Faculty of Law                                          268879
Faculty of Medicine                                       4267
Faculty of Nursing                                       10685
Faculty of Physical Education                            59582
Faculty of Physical Therapy                              17349
Faculty of Science                                     1203523
Faculty of Specific Education                            52117
Faculty of Veterinary Medicine                           93772

In [114]:
count.agg({'Identity Code':['mean', 'min', 'max', 'count', 'sum', 'std']})

                                                Identity Code              \
                                                         mean   min   max
Faculty in benha
Faculty of Agriculture                             638.600000     1  3097
Faculty of Applied Arts                            491.235294   327  2994
Faculty of Arts                                    732.619048   346  3107
Faculty of Commerce                                888.174648   365  3088
Faculty of Computer and Artificial Intelligence   1359.507583   687  3115
Faculty of Education                              1854.351351  1700  3060
Faculty of Engineering (Benha)                    1912.808917  1737  3083
Faculty of Engineering (Shoubra)                  2101.040816  1906  3111
Faculty of Law                                    2338.078261  2045  3078
Faculty of Medicine                               2133.500000  2133  2134
Faculty of Nursing                                2137.000000  2135  2139
Faculty of Physical Education                     2206.740741  2140  3006
Faculty of Physical Therapy                       2168.625000  2165  2173
Faculty of Science                                2446.184959  2174  3096
Faculty of Specific Education                     2743.000000  2699  3054
Faculty of Veterinary Medicine                    2758.000000  2716  3099


                                                count      sum          std
Faculty in benha
Faculty of Agriculture                            335   213931  1054.123651
Faculty of Applied Arts                            17     8351   644.968171
Faculty of Arts                                    21    15385   948.842425
Faculty of Commerce                               355   315302   874.636698
Faculty of Computer and Artificial Intelligence   989  1344553   592.055906
Faculty of Education                               37    68611   399.732912
Faculty of Engineering (Benha)                    157   300311   307.224238
Faculty of Engineering (Shoubra)                  147   308853   327.981788
Faculty of Law                                    115   268879   383.539269
Faculty of Medicine                                 2     4267     0.707107
Faculty of Nursing                                  5    10685     1.581139
Faculty of Physical Education                      27    59582   199.912018
Faculty of Physical Therapy                         8    17349     2.669270
Faculty of Science                                492  1203523   170.469199
Faculty of Specific Education                      19    52117   107.951121
Faculty of Veterinary Medicine                     34    93772    83.514833

In [115]:
cars = pd.read_csv(r"C:\Users\elkha\Downloads\archive\used_car_price_dataset_extended.csv")
cars

,make_year,mileage_kmpl,engine_cc,fuel_type,owner_count,price_usd,brand,transmission,color,service_history,accidents_reported,insurance_valid
0,2001,8.17,4000,Petrol,4,8587.64,Chevrolet,Manual,White,NaN,0,No
1,2014,17.59,1500,Petrol,4,5943.50,Honda,Manual,Black,NaN,0,Yes
2,2023,18.09,2500,Diesel,5,9273.58,BMW,Automatic,Black,Full,1,Yes
3,2009,11.28,800,Petrol,1,6836.24,Hyundai,Manual,Blue,Full,0,Yes
4,2005,12.23,1000,Petrol,2,4625.79,Nissan,Automatic,Red,Full,0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1996,15.25,1500,Petrol,2,5498.71,Hyundai,Manual,Silver,NaN,0,Yes
9996,1997,14.45,5000,Diesel,1,9588.31,Honda,Manual,Gray,Full,0,Yes
9997,2002,19.41,1000,Diesel,4,4557.10,Kia,Manual,Black,Full,0,Yes
9998,2005,12.95,4000,Petrol,5,7413.59,BMW,Automatic,Blue,Full,0,Yes
9999,2007,18.81,5000,Petrol,1,11634.09,BMW,Automatic,Silver,Full,0,Yes

In [116]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   make_year           10000 non-null  int64
 1   mileage_kmpl        10000 non-null  float64
 2   engine_cc           10000 non-null  int64
 3   fuel_type           10000 non-null  object
 4   owner_count         10000 non-null  int64
 5   price_usd           10000 non-null  float64
 6   brand               10000 non-null  object
 7   transmission        10000 non-null  object
 8   color               10000 non-null  object
 9   service_history     7962 non-null   object
 10  accidents_reported  10000 non-null  int64
 11  insurance_valid     10000 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 937.6+ KB

In [117]:
cars.groupby('fuel_type').count()

,make_year,mileage_kmpl,engine_cc,owner_count,price_usd,brand,transmission,color,service_history,accidents_reported,insurance_valid
fuel_type,,,,,,,,,,,
Diesel,4058,4058,4058,4058,4058,4058,4058,4058,3210,4058,4058
Electric,974,974,974,974,974,974,974,974,781,974,974
Petrol,4968,4968,4968,4968,4968,4968,4968,4968,3971,4968,4968

In [203]:
cars.groupby('fuel_type').agg({'make_year': ['mean', 'max', 'min', 'std', 'count', 'sum']})

             make_year
                  mean   max   min       std count      sum
fuel_type
Diesel     2009.129867  2023  1995  8.438158  4058  8153049
Electric   2008.866530  2023  1995  8.363937   974  1956636
Petrol     2009.336554  2023  1995  8.321955  4968  9982384

In [119]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   make_year           10000 non-null  int64
 1   mileage_kmpl        10000 non-null  float64
 2   engine_cc           10000 non-null  int64
 3   fuel_type           10000 non-null  object
 4   owner_count         10000 non-null  int64
 5   price_usd           10000 non-null  float64
 6   brand               10000 non-null  object
 7   transmission        10000 non-null  object
 8   color               10000 non-null  object
 9   service_history     7962 non-null   object
 10  accidents_reported  10000 non-null  int64
 11  insurance_valid     10000 non-null  object
dtypes: float64(2), int64(4), object(6)
memory usage: 937.6+ KB

In [120]:
cars.groupby(['brand', 'transmission','fuel_type']).count()

                                   make_year  mileage_kmpl  engine_cc  \
brand      transmission fuel_type
BMW        Automatic    Diesel           154           154        154
                        Electric          40            40         40
                        Petrol           191           191        191
           Manual       Diesel           273           273        273
                        Electric          64            64         64
                        Petrol           299           299        299
Chevrolet  Automatic    Diesel           167           167        167
                        Electric          34            34         34
                        Petrol           209           209        209
           Manual       Diesel           232           232        232
                        Electric          59            59         59
                        Petrol           298           298        298
Ford       Automatic    Diesel           157           157        157
                        Electric          42            42         42
                        Petrol           203           203        203
           Manual       Diesel           215           215        215
                        Electric          61            61         61
                        Petrol           271           271        271
Honda      Automatic    Diesel           158           158        158
                        Electric          46            46         46
                        Petrol           202           202        202
           Manual       Diesel           231           231        231
                        Electric          53            53         53
                        Petrol           313           313        313
Hyundai    Automatic    Diesel           149           149        149
                        Electric          33            33         33
                        Petrol           193           193        193
           Manual       Diesel           247           247        247
                        Electric          56            56         56
                        Petrol           311           311        311
Kia        Automatic    Diesel           161           161        161
                        Electric          36            36         36
                        Petrol           160           160        160
           Manual       Diesel           224           224        224
                        Electric          71            71         71
                        Petrol           303           303        303
Nissan     Automatic    Diesel           194           194        194
                        Electric          49            49         49
                        Petrol           214           214        214
           Manual       Diesel           257           257        257
                        Electric          69            69         69
                        Petrol           306           306        306
Tesla      Automatic    Diesel           185           185        185
                        Electric          38            38         38
                        Petrol           206           206        206
           Manual       Diesel           248           248        248
                        Electric          50            50         50
                        Petrol           279           279        279
Toyota     Automatic    Diesel           156           156        156
                        Electric          32            32         32
                        Petrol           203           203        203
           Manual       Diesel           244           244        244
                        Electric          48            48         48
                        Petrol           273           273        273
Volkswagen Automatic    Diesel           162           162        162
                        Electric          28            28         28
                        Petrol           213           213        213
           Manual       Diesel           244           244        244
                        Electric          65            65         65
                        Petrol           321           321        321

                                   owner_count  price_usd  color  \
brand      transmission fuel_type
BMW        Automatic    Diesel             154        154    154
                        Electric            40         40     40
                        Petrol             191        191    191
           Manual       Diesel             273        273    273
                        Electric            64         64     64
                        Petrol             299        299    299
Chevrolet  Automatic    Diesel             167        167    167
                        Electric            34         34     34
                        Petrol             209        209    209
           Manual       Diesel             232        232    232
                        Electric            59         59     59
                        Petrol             298        298    298
Ford       Automatic    Diesel             157        157    157
                        Electric            42         42     42
                        Petrol             203        203    203
           Manual       Diesel             215        215    215
                        Electric            61         61     61
                        Petrol             271        271    271
Honda      Automatic    Diesel             158        158    158
                        Electric            46         46     46
                        Petrol             202        202    202
           Manual       Diesel             231        231    231
                        Electric            53         53     53
                        Petrol             313        313    313
Hyundai    Automatic    Diesel             149        149    149
                        Electric            33         33     33
                        Petrol             193        193    193
           Manual       Diesel             247        247    247
                        Electric            56         56     56
                        Petrol             311        311    311
Kia        Automatic    Diesel             161        161    161
                        Electric            36         36     36
                        Petrol             160        160    160
           Manual       Diesel             224        224    224
                        Electric            71         71     71
                        Petrol             303        303    303
Nissan     Automatic    Diesel             194        194    194
                        Electric            49         49     49
                        Petrol             214        214    214
           Manual       Diesel             257        257    257
                        Electric            69         69     69
                        Petrol             306        306    306
Tesla      Automatic    Diesel             185        185    185
                        Electric            38         38     38
                        Petrol             206        206    206
           Manual       Diesel             248        248    248
                        Electric            50         50     50
                        Petrol             279        279    279
Toyota     Automatic    Diesel             156        156    156
                        Electric            32         32     32
                        Petrol             203        203    203
           Manual       Diesel             244        244    244
                        Electric            48         48     48
                        Petrol             273        273    273
Volkswagen Automatic    Diesel             162        162    162
                        Electric            28         28     28
                        Petrol             213        213    213
           Manual       Diesel             244        244    244
                        Electric            65         65     65
                        Petrol             321        321    321

                                   service_history  accidents_reported  \
brand      transmission fuel_type
BMW        Automatic    Diesel                 118                 154
                        Electric                33                  40
                        Petrol                 151                 191
           Manual       Diesel                 218                 273
                        Electric                47                  64
                        Petrol                 242                 299
Chevrolet  Automatic    Diesel                 134                 167
                        Electric                29                  34
                        Petrol                 166                 209
           Manual       Diesel                 178                 232
                        Electric                47                  59
                        Petrol                 225                 298
Ford       Automatic    Diesel                 127                 157
                        Electric                33                  42
                        Petrol                 152                 203
           Manual       Diesel                 177                 215
                        Electric                47                  61
                        Petrol                 207                 271
Honda      Automatic    Diesel                 116                 158
                        Electric                41                  46
                        Petrol                 164                 202
           Manual       Diesel                 184                 231
                        Electric                40                  53
                        Petrol                 270                 313
Hyundai    Automatic    Diesel                 122                 149
                        Electric                25                  33
                        Petrol                 162                 193
           Manual       Diesel                 206                 247
                        Electric                48                  56
                        Petrol                 248                 311
Kia        Automatic    Diesel                 123                 161
                        Electric                32                  36
                        Petrol                 131                 160
           Manual       Diesel                 181                 224
                        Electric                57                  71
                        Petrol                 240                 303
Nissan     Automatic    Diesel                 148                 194
                        Electric                35                  49
                        Petrol                 173                 214
           Manual       Diesel                 210                 257
                        Electric                60                  69
                        Petrol                 235                 306
Tesla      Automatic    Diesel                 145                 185
                        Electric                27                  38
                        Petrol                 155                 206
           Manual       Diesel                 192                 248
                        Electric                39                  50
                        Petrol                 227                 279
Toyota     Automatic    Diesel                 128                 156
                        Electric                27                  32
                        Petrol                 170                 203
           Manual       Diesel                 190                 244
                        Electric                35                  48
                        Petrol                 226                 273
Volkswagen Automatic    Diesel                 124                 162
                        Electric                24                  28
                        Petrol                 173                 213
           Manual       Diesel                 189                 244
                        Electric                55                  65
                        Petrol                 254                 321

                                   insurance_valid
brand      transmission fuel_type
BMW        Automatic    Diesel                 154
                        Electric                40
                        Petrol                 191
           Manual       Diesel                 273
                        Electric                64
                        Petrol                 299
Chevrolet  Automatic    Diesel                 167
                        Electric                34
                        Petrol                 209
           Manual       Diesel                 232
                        Electric                59
                        Petrol                 298
Ford       Automatic    Diesel                 157
                        Electric                42
                        Petrol                 203
           Manual       Diesel                 215
                        Electric                61
                        Petrol                 271
Honda      Automatic    Diesel                 158
                        Electric                46
                        Petrol                 202
           Manual       Diesel                 231
                        Electric                53
                        Petrol                 313
Hyundai    Automatic    Diesel                 149
                        Electric                33
                        Petrol                 193
           Manual       Diesel                 247
                        Electric                56
                        Petrol                 311
Kia        Automatic    Diesel                 161
                        Electric                36
                        Petrol                 160
           Manual       Diesel                 224
                        Electric                71
                        Petrol                 303
Nissan     Automatic    Diesel                 194
                        Electric                49
                        Petrol                 214
           Manual       Diesel                 257
                        Electric                69
                        Petrol                 306
Tesla      Automatic    Diesel                 185
                        Electric                38
                        Petrol                 206
           Manual       Diesel                 248
                        Electric                50
                        Petrol                 279
Toyota     Automatic    Diesel                 156
                        Electric                32
                        Petrol                 203
           Manual       Diesel                 244
                        Electric                48
                        Petrol                 273
Volkswagen Automatic    Diesel                 162
                        Electric                28
                        Petrol                 213
           Manual       Diesel                 244
                        Electric                65
                        Petrol                 321

In [121]:
pd.set_option('display.max.columns', 100)
pd.set_option('display.max.rows', 100)

In [122]:
cars.groupby(['brand', 'transmission','fuel_type']).describe()

                                  make_year                                 \
                                      count         mean       std     min
brand      transmission fuel_type
BMW        Automatic    Diesel        154.0  2009.909091  8.113866  1995.0
                        Electric       40.0  2007.875000  7.225977  1995.0
                        Petrol        191.0  2009.759162  7.696521  1995.0
           Manual       Diesel        273.0  2009.025641  8.189129  1995.0
                        Electric       64.0  2006.515625  8.853288  1995.0
                        Petrol        299.0  2009.705686  8.739346  1995.0
Chevrolet  Automatic    Diesel        167.0  2009.113772  8.213579  1995.0
                        Electric       34.0  2006.088235  8.497300  1995.0
                        Petrol        209.0  2010.272727  7.954635  1995.0
           Manual       Diesel        232.0  2009.857759  8.433161  1995.0
                        Electric       59.0  2010.423729  8.236176  1995.0
                        Petrol        298.0  2008.788591  8.682519  1995.0
Ford       Automatic    Diesel        157.0  2010.229299  8.940596  1995.0
                        Electric       42.0  2008.809524  7.994627  1995.0
                        Petrol        203.0  2008.448276  8.315025  1995.0
           Manual       Diesel        215.0  2009.060465  8.107402  1995.0
                        Electric       61.0  2008.016393  8.235071  1995.0
                        Petrol        271.0  2009.726937  8.455503  1995.0
Honda      Automatic    Diesel        158.0  2008.727848  8.271391  1995.0
                        Electric       46.0  2008.760870  8.952181  1995.0
                        Petrol        202.0  2009.410891  8.686610  1995.0
           Manual       Diesel        231.0  2008.779221  8.744623  1995.0
                        Electric       53.0  2011.169811  8.411841  1996.0
                        Petrol        313.0  2009.587859  8.439801  1995.0
Hyundai    Automatic    Diesel        149.0  2008.577181  8.390939  1995.0
                        Electric       33.0  2010.545455  8.452407  1996.0
                        Petrol        193.0  2009.497409  8.242499  1995.0
           Manual       Diesel        247.0  2009.263158  8.609386  1995.0
                        Electric       56.0  2009.625000  8.733556  1995.0
                        Petrol        311.0  2009.536977  8.324338  1995.0
Kia        Automatic    Diesel        161.0  2008.031056  8.844788  1995.0
                        Electric       36.0  2007.000000  8.789604  1995.0
                        Petrol        160.0  2010.487500  8.143360  1995.0
           Manual       Diesel        224.0  2009.102679  8.543909  1995.0
                        Electric       71.0  2009.816901  7.591932  1996.0
                        Petrol        303.0  2008.699670  8.207909  1995.0
Nissan     Automatic    Diesel        194.0  2008.463918  8.730344  1995.0
                        Electric       49.0  2009.367347  9.257191  1995.0
                        Petrol        214.0  2008.887850  8.103007  1995.0
           Manual       Diesel        257.0  2009.031128  8.328638  1995.0
                        Electric       69.0  2009.565217  7.331396  1995.0
                        Petrol        306.0  2008.911765  8.067059  1995.0
Tesla      Automatic    Diesel        185.0  2008.589189  8.342785  1995.0
                        Electric       38.0  2007.657895  8.479789  1996.0
                        Petrol        206.0  2008.961165  8.168855  1995.0
           Manual       Diesel        248.0  2009.233871  8.700234  1995.0
                        Electric       50.0  2008.340000  9.027419  1995.0
                        Petrol        279.0  2009.856631  8.181455  1995.0
Toyota     Automatic    Diesel        156.0  2009.083333  8.365026  1995.0
                        Electric       32.0  2009.125000  8.404108  1995.0
                        Petrol        203.0  2008.699507  8.447470  1995.0
           Manual       Diesel        244.0  2010.176230  8.548439  1995.0
                        Electric       48.0  2008.958333  9.116173  1995.0
                        Petrol        273.0  2008.842491  8.451903  1995.0
Volkswagen Automatic    Diesel        162.0  2010.074074  7.959958  1995.0
                        Electric       28.0  2009.642857  8.786413  1995.0
                        Petrol        213.0  2009.924883  8.550846  1995.0
           Manual       Diesel        244.0  2008.266393  8.212628  1995.0
                        Electric       65.0  2008.815385  7.292745  1995.0
                        Petrol        321.0  2009.242991  8.202333  1995.0

                                                                     \
                                       25%     50%      75%     max
brand      transmission fuel_type
BMW        Automatic    Diesel     2003.25  2010.0  2017.00  2023.0
                        Electric   2001.00  2008.5  2014.25  2020.0
                        Petrol     2003.50  2010.0  2016.00  2023.0
           Manual       Diesel     2002.00  2010.0  2016.00  2023.0
                        Electric   1998.00  2005.0  2015.00  2023.0
                        Petrol     2002.00  2010.0  2017.00  2023.0
Chevrolet  Automatic    Diesel     2002.00  2008.0  2016.50  2023.0
                        Electric   2000.00  2004.5  2012.00  2023.0
                        Petrol     2004.00  2010.0  2017.00  2023.0
           Manual       Diesel     2002.00  2010.0  2018.00  2023.0
                        Electric   2003.50  2011.0  2017.00  2023.0
                        Petrol     2001.00  2009.0  2016.00  2023.0
Ford       Automatic    Diesel     2002.00  2011.0  2019.00  2023.0
                        Electric   2001.25  2009.5  2015.00  2023.0
                        Petrol     2001.00  2008.0  2015.00  2023.0
           Manual       Diesel     2002.00  2009.0  2016.00  2023.0
                        Electric   2001.00  2009.0  2013.00  2023.0
                        Petrol     2002.00  2009.0  2017.00  2023.0
Honda      Automatic    Diesel     2001.25  2008.0  2016.00  2023.0
                        Electric   1999.00  2010.0  2015.75  2023.0
                        Petrol     2002.00  2009.0  2017.00  2023.0
           Manual       Diesel     2000.50  2009.0  2016.00  2023.0
                        Electric   2004.00  2013.0  2018.00  2023.0
                        Petrol     2002.00  2010.0  2017.00  2023.0
Hyundai    Automatic    Diesel     2001.00  2009.0  2016.00  2023.0
                        Electric   2004.00  2011.0  2017.00  2022.0
                        Petrol     2003.00  2010.0  2016.00  2023.0
           Manual       Diesel     2002.00  2010.0  2017.00  2023.0
                        Electric   2001.75  2011.0  2017.00  2023.0
                        Petrol     2002.00  2010.0  2017.00  2023.0
Kia        Automatic    Diesel     2000.00  2007.0  2016.00  2023.0
                        Electric   1999.50  2005.0  2012.25  2022.0
                        Petrol     2004.75  2012.0  2017.00  2023.0
           Manual       Diesel     2001.75  2010.0  2017.00  2023.0
                        Electric   2003.00  2010.0  2015.00  2023.0
                        Petrol     2002.00  2008.0  2016.00  2023.0
Nissan     Automatic    Diesel     2000.00  2009.0  2016.00  2023.0
                        Electric   2001.00  2009.0  2019.00  2023.0
                        Petrol     2002.00  2009.0  2016.00  2023.0
           Manual       Diesel     2002.00  2009.0  2016.00  2023.0
                        Electric   2005.00  2009.0  2016.00  2023.0
                        Petrol     2003.00  2009.0  2015.75  2023.0
Tesla      Automatic    Diesel     2001.00  2008.0  2016.00  2023.0
                        Electric   2000.25  2006.5  2014.25  2023.0
                        Petrol     2002.00  2008.5  2016.00  2023.0
           Manual       Diesel     2002.00  2009.0  2017.00  2023.0
                        Electric   2000.00  2007.5  2017.00  2023.0
                        Petrol     2003.00  2010.0  2017.00  2023.0
Toyota     Automatic    Diesel     2002.00  2009.0  2016.00  2023.0
                        Electric   2003.00  2008.5  2016.50  2022.0
                        Petrol     2001.50  2009.0  2016.00  2023.0
           Manual       Diesel     2003.00  2012.0  2017.00  2023.0
                        Electric   2001.00  2008.5  2017.25  2023.0
                        Petrol     2001.00  2009.0  2016.00  2023.0
Volkswagen Automatic    Diesel     2004.25  2010.5  2017.00  2023.0
                        Electric   2003.75  2011.0  2016.00  2022.0
                        Petrol     2002.00  2010.0  2017.00  2023.0
           Manual       Diesel     2001.75  2008.0  2015.25  2023.0
                        Electric   2003.00  2010.0  2015.00  2022.0
                        Petrol     2002.00  2009.0  2016.00  2023.0

                                  mileage_kmpl                             \
                                         count       mean       std   min
brand      transmission fuel_type
BMW        Automatic    Diesel           154.0  18.324870  5.177038  5.87
                        Electric          40.0  17.447250  4.501486  5.00
                        Petrol           191.0  18.130209  5.144374  5.00
           Manual       Diesel           273.0  18.187985  4.978838  5.78
                        Electric          64.0  18.179844  4.741003  8.36
                        Petrol           299.0  18.033913  5.008857  5.00
Chevrolet  Automatic    Diesel           167.0  18.062096  4.895919  5.00
                        Electric          34.0  17.647353  5.422609  6.79
                        Petrol           209.0  17.386172  5.103676  6.41
           Manual       Diesel           232.0  17.831681  4.856888  5.76
                        Electric          59.0  18.326949  5.208849  5.00
                        Petrol           298.0  17.724631  5.190954  5.00
Ford       Automatic    Diesel           157.0  18.159108  4.951326  6.44
                        Electric          42.0  17.089048  5.396999  5.31
                        Petrol           203.0  17.892463  5.015332  5.73
           Manual       Diesel           215.0  17.783488  5.019393  5.19
                        Electric          61.0  18.750000  5.417673  6.47
                        Petrol           271.0  17.877196  4.678123  5.00
Honda      Automatic    Diesel           158.0  18.064747  5.179813  5.00
                        Electric          46.0  18.733478  4.959477  5.00
                        Petrol           202.0  18.260842  4.871083  5.00
           Manual       Diesel           231.0  17.693853  4.785781  5.00
                        Electric          53.0  17.497358  4.787146  5.69
                        Petrol           313.0  17.698658  5.188562  5.00
Hyundai    Automatic    Diesel           149.0  16.967248  5.249425  5.03
                        Electric          33.0  19.699091  4.562570  7.43
                        Petrol           193.0  17.736166  5.191772  7.35
           Manual       Diesel           247.0  18.056923  4.963934  5.00
                        Electric          56.0  17.908571  4.462941  8.78
                        Petrol           311.0  17.749711  5.071469  5.00
Kia        Automatic    Diesel           161.0  17.765901  4.876955  6.06
                        Electric          36.0  17.689444  6.305632  5.50
                        Petrol           160.0  18.341062  5.027855  5.64
           Manual       Diesel           224.0  17.884196  5.138901  5.00
                        Electric          71.0  18.832394  4.871099  5.00
                        Petrol           303.0  18.192673  5.347400  5.00
Nissan     Automatic    Diesel           194.0  17.800206  4.794922  5.00
                        Electric          49.0  16.400000  4.596617  5.61
                        Petrol           214.0  18.127944  5.084465  5.57
           Manual       Diesel           257.0  18.311362  4.939255  5.00
                        Electric          69.0  17.742464  4.888809  5.00
                        Petrol           306.0  17.765359  4.888551  5.00
Tesla      Automatic    Diesel           185.0  18.244541  4.646272  5.87
                        Electric          38.0  17.888684  4.342642  9.14
                        Petrol           206.0  18.234515  5.171798  5.00
           Manual       Diesel           248.0  17.861129  5.196687  5.00
                        Electric          50.0  17.732800  4.994496  7.61
                        Petrol           279.0  18.390502  4.931430  5.00
Toyota     Automatic    Diesel           156.0  18.226987  5.094851  5.00
                        Electric          32.0  18.310938  5.001881  9.30
                        Petrol           203.0  17.973596  4.801897  5.00
           Manual       Diesel           244.0  18.154672  4.940634  5.00
                        Electric          48.0  17.738958  5.246339  5.00
                        Petrol           273.0  17.564103  5.483401  5.00
Volkswagen Automatic    Diesel           162.0  17.988395  4.565671  5.00
                        Electric          28.0  19.373571  4.852757  8.96
                        Petrol           213.0  18.293803  5.208298  5.62
           Manual       Diesel           244.0  17.938689  4.751937  5.00
                        Electric          65.0  18.306308  5.594593  5.00
                        Petrol           321.0  17.678006  5.256356  5.00

                                                                   engine_cc  \
                                       25%     50%      75%    max     count
brand      transmission fuel_type
BMW        Automatic    Diesel     14.6175  18.205  21.5900  32.51     154.0
                        Electric   14.5550  17.405  19.4225  28.37      40.0
                        Petrol     14.7350  17.440  21.8100  32.17     191.0
           Manual       Diesel     14.5100  17.820  21.7700  34.38     273.0
                        Electric   15.7350  18.165  21.3600  29.09      64.0
                        Petrol     14.8100  18.000  21.3400  30.96     299.0
Chevrolet  Automatic    Diesel     14.5000  18.430  21.5500  31.84     167.0
                        Electric   13.5650  18.365  21.6925  26.61      34.0
                        Petrol     14.0700  17.140  20.6500  32.00     209.0
           Manual       Diesel     14.5225  17.495  20.9500  31.86     232.0
                        Electric   15.0700  17.500  22.0900  31.02      59.0
                        Petrol     14.2375  17.970  20.9975  33.45     298.0
Ford       Automatic    Diesel     14.7800  17.680  21.4300  34.99     157.0
                        Electric   13.8550  17.345  19.3550  30.36      42.0
                        Petrol     14.5550  17.930  21.5100  30.31     203.0
           Manual       Diesel     14.6050  17.480  21.0650  34.20     215.0
                        Electric   15.4800  19.740  22.1600  29.69      61.0
                        Petrol     14.6850  18.030  20.8950  30.70     271.0
Honda      Automatic    Diesel     14.8475  18.225  21.8700  29.40     158.0
                        Electric   15.4825  18.775  21.4100  28.74      46.0
                        Petrol     14.9175  18.170  22.0500  31.48     202.0
           Manual       Diesel     14.3450  17.280  20.7450  29.08     231.0
                        Electric   13.5500  18.620  20.5400  27.80      53.0
                        Petrol     14.3300  17.840  21.3300  33.75     313.0
Hyundai    Automatic    Diesel     13.3300  16.450  21.0200  28.51     149.0
                        Electric   17.4400  19.220  21.7500  28.75      33.0
                        Petrol     14.4600  17.290  20.5800  32.27     193.0
           Manual       Diesel     14.8550  18.510  20.9950  30.71     247.0
                        Electric   15.4225  17.250  21.2025  28.54      56.0
                        Petrol     14.6800  17.840  21.0300  31.72     311.0
Kia        Automatic    Diesel     14.1600  17.100  20.9100  33.52     161.0
                        Electric   13.2375  17.890  21.4000  32.81      36.0
                        Petrol     14.7950  18.470  21.6725  31.61     160.0
           Manual       Diesel     14.3900  17.745  21.3675  30.37     224.0
                        Electric   15.9250  18.720  21.9450  28.99      71.0
                        Petrol     15.2300  18.670  21.9000  32.31     303.0
Nissan     Automatic    Diesel     14.7200  18.020  21.2900  30.59     194.0
                        Electric   13.1000  16.860  19.1400  26.08      49.0
                        Petrol     14.5450  17.915  21.9400  30.14     214.0
           Manual       Diesel     14.8800  18.250  21.7900  32.59     257.0
                        Electric   15.1900  17.970  20.4200  30.16      69.0
                        Petrol     14.4700  17.880  21.2075  29.81     306.0
Tesla      Automatic    Diesel     14.7000  18.480  21.6800  28.31     185.0
                        Electric   14.6725  17.415  21.4300  25.69      38.0
                        Petrol     14.5675  18.485  21.5125  31.44     206.0
           Manual       Diesel     14.5750  18.245  21.1125  33.34     248.0
                        Electric   14.5750  17.735  19.5250  30.93      50.0
                        Petrol     15.4650  18.930  21.5950  31.81     279.0
Toyota     Automatic    Diesel     14.6875  18.280  22.2825  28.56     156.0
                        Electric   14.3700  18.430  20.6300  32.47      32.0
                        Petrol     14.7950  17.740  21.2200  33.07     203.0
           Manual       Diesel     14.2275  18.145  21.6425  32.17     244.0
                        Electric   14.1600  18.705  21.0275  28.60      48.0
                        Petrol     13.7200  16.980  21.2600  34.50     273.0
Volkswagen Automatic    Diesel     14.4200  18.110  21.0000  32.63     162.0
                        Electric   17.4150  19.945  21.5175  28.45      28.0
                        Petrol     15.2000  18.280  21.4200  35.00     213.0
           Manual       Diesel     14.3700  18.105  21.3325  32.46     244.0
                        Electric   15.1200  17.980  21.3600  33.44      65.0
                        Petrol     14.1300  17.940  20.9800  32.46     321.0

                                                                            \
                                          mean          std    min     25%
brand      transmission fuel_type
BMW        Automatic    Diesel     2370.779221  1297.958443  800.0  1275.0
                        Electric   2210.000000  1267.098442  800.0  1200.0
                        Petrol     2259.685864  1328.353910  800.0  1200.0
           Manual       Diesel     2305.860806  1347.179274  800.0  1200.0
                        Electric   2323.437500  1319.901654  800.0  1200.0
                        Petrol     2226.755853  1204.585692  800.0  1200.0
Chevrolet  Automatic    Diesel     2420.359281  1326.311078  800.0  1200.0
                        Electric   2270.588235  1336.102294  800.0  1275.0
                        Petrol     2189.952153  1209.912782  800.0  1200.0
           Manual       Diesel     2272.844828  1297.915282  800.0  1200.0
                        Electric   2393.220339  1450.429711  800.0  1200.0
                        Petrol     2312.080537  1323.621842  800.0  1200.0
Ford       Automatic    Diesel     2277.070064  1303.293295  800.0  1200.0
                        Electric   2195.238095  1208.900404  800.0  1200.0
                        Petrol     2478.325123  1391.139982  800.0  1200.0
           Manual       Diesel     2454.883721  1287.271207  800.0  1500.0
                        Electric   2304.918033  1102.939441  800.0  1500.0
                        Petrol     2295.571956  1301.160004  800.0  1200.0
Honda      Automatic    Diesel     2135.443038  1236.549336  800.0  1200.0

In [123]:
df2.set_index('Identity Code', inplace=True)
df2

,Name,Faculty in benha
Identity Code,,
1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
5,Zeyad Osama Farag,Faculty of Agriculture
6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...
2749,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
2750,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
2934,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
3005,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

In [124]:
df2.loc[4]

Name                Ahmed Elsayed Gouda Attia
Faculty in benha       Faculty of Agriculture
Name: 4, dtype: object

In [125]:
df4 = pd.read_excel(r"C:\Users\elkha\Downloads\Benha University - All Faculities.xlsx", names=['Identity Code', 'Name', 'Faculty in benha'], sheet_name='Sheet1')
df4.merge(df2, how='cross')

,Identity Code,Name_x,Faculty in benha_x,Name_y,Faculty in benha_y
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Zeyad Osama Farag,Faculty of Agriculture
4,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...,...,...
7617595,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
7617596,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
7617597,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
7617598,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
7617599,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

In [126]:
df2.sort_values('Faculty in benha', ascending=False, inplace=True)
df4.merge(df2, how='cross')

,Identity Code,Name_x,Faculty in benha_x,Name_y,Faculty in benha_y
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine
1,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Atef Mansour Rashed,Faculty of Veterinary Medicine
2,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Abdulhamed Ahmed Abdulhamed Salem,Faculty of Veterinary Medicine
3,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Mennatullah Mohamed Abdelraouf Amer,Faculty of Veterinary Medicine
4,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture,Asmaa Emad Talaat,Faculty of Veterinary Medicine
...,...,...,...,...,...
7617595,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Basmala Muhammad Atya,Faculty of Agriculture
7617596,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Omnia Ahmed Ibrahim,Faculty of Agriculture
7617597,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Nevine Maher AbdElAzeem Mohammed,Faculty of Agriculture
7617598,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Beshoy George Gamil Aziz,Faculty of Agriculture
7617599,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture

In [127]:
#pd.set_option("display.max.rows",3000)
df4

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
2755,2749,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
2756,2750,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
2757,2934,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
2758,3005,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
2759,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

In [128]:
df4.set_index('Name', inplace=True)
df2.set_index('Name', inplace=True)
df5 = df4.join(df2, how='outer', on='Name', lsuffix='_left', rsuffix='_right')
df5.columns = ['Identity Code', 'left', 'right']
df5

,Identity Code,left,right
Name,,,
Adham Ashraf Mohammed Ali,1699,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence
Marina Micheel Yani Mina Hana,648,Faculty of Commerce,Faculty of Commerce
Mohamed kamel Gmail marwan,1116,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence
Mostafa Magdy Said Mohamed,14,Faculty of Agriculture,Faculty of Agriculture
Sara Helmy SHaaban Abdel Halim El Degwy,106,Faculty of Agriculture,Faculty of Agriculture
...,...,...,...
يوسف عبد الشافي احمد يوسف,870,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence
يوسف محمد رمضان حسين,573,Faculty of Commerce,Faculty of Commerce
يوسف منصور محمد محمد,2286,Faculty of Science,Faculty of Science
يوسف ياسر سيد محمود,2010,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra)
ِApdulrahman Mahmoud Shabaan,1025,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence

In [201]:
df5[~(df5['left'] == df5['right'])]

Empty DataFrame
Columns: [Name, Identity Code, left, right]
Index: []

In [130]:
df5.loc['Yousif Hisham Abdelfatah Abdelazim']

Identity Code                                                842
left             Faculty of Computer and Artificial Intelligence
right            Faculty of Computer and Artificial Intelligence
Name: Yousif Hisham Abdelfatah Abdelazim, dtype: object

In [205]:
df5.reset_index(inplace=True)
temp = df5[df5['Name'].str.contains('Hesham')]
pd.concat([temp, df5], ignore_index=False)

,level_0,index,Name,Identity Code,left,right
507,507,507,Anas Hesham Ahmed,121,Faculty of Agriculture,Faculty of Agriculture
663,663,663,Doha Hesham Hassanin,1786,Faculty of Engineering (Benha),Faculty of Engineering (Benha)
1099,1099,1099,Mahetap Hesham Aly,355,Faculty of Arts,Faculty of Arts
1125,1125,1125,Mahmoud Hesham Mahmoud Mohamed Elberry,1675,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence
1309,1309,1309,Maryam Mohamed Hesham Elziky,1915,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra)
...,...,...,...,...,...,...
2755,2755,2755,يوسف عبد الشافي احمد يوسف,870,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence
2756,2756,2756,يوسف محمد رمضان حسين,573,Faculty of Commerce,Faculty of Commerce
2757,2757,2757,يوسف منصور محمد محمد,2286,Faculty of Science,Faculty of Science
2758,2758,2758,يوسف ياسر سيد محمود,2010,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra)
2759,2759,2759,ِApdulrahman Mahmoud Shabaan,1025,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence

In [132]:
pd.concat([df5[df5['Name'].str.contains('Hisham')], temp, df5[df5['Name'].str.contains('hisham')], df5[df5['Name'].str.contains('hesham')], df5[df5['Name'].str.contains('Amar')]], join='outer', axis = 1)

,Name,Identity Code,left,right,Name,Identity Code,left,right,Name,Identity Code,left,right,Name,Identity Code,left,right,Name,Identity Code,left,right
701,Eman Hisham Ismail,765.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
757,Essam Eldin Hisham,2012.0,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,Khaled Hisham Ibrahim Ahmed Salem,1659.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,Menna Hisham Mohamed Attia,236.0,Faculty of Agriculture,Faculty of Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1361,Mennatallah Hisham Abdelsattar Ahmed Farrag,521.0,Faculty of Commerce,Faculty of Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1753,Noura Hisham Mohamed,2873.0,Faculty of Commerce,Faculty of Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1792,Omar Hisham,1140.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1793,Omar Hisham Hassan Kamel,532.0,Faculty of Commerce,Faculty of Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1941,Roaa Hisham Abdelmonem Abdelaziz Sharafeldin,1473.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2149,Shams Hisham Sabry,1394.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2235,Wesal Hisham Abdelwahed,1257.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2299,Yousif Hisham Abdelfatah Abdelazim,842.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
507,NaN,NaN,NaN,NaN,Anas Hesham Ahmed,121.0,Faculty of Agriculture,Faculty of Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
663,NaN,NaN,NaN,NaN,Doha Hesham Hassanin,1786.0,Faculty of Engineering (Benha),Faculty of Engineering (Benha),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1099,NaN,NaN,NaN,NaN,Mahetap Hesham Aly,355.0,Faculty of Arts,Faculty of Arts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1125,NaN,NaN,NaN,NaN,Mahmoud Hesham Mahmoud Mohamed Elberry,1675.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1309,NaN,NaN,NaN,NaN,Maryam Mohamed Hesham Elziky,1915.0,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1370,NaN,NaN,NaN,NaN,Merna Hesham Emam Elawaa Fouda,1890.0,Faculty of Engineering (Benha),Faculty of Engineering (Benha),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1477,NaN,NaN,NaN,NaN,Mohamed Hesham Khaled Afifi,2121.0,Faculty of Law,Faculty of Law,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1856,NaN,NaN,NaN,NaN,Rahma Hesham,2036.0,Faculty of Engineering (Shoubra),Faculty of Engineering (Shoubra),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2285,NaN,NaN,NaN,NaN,Yousef Hesham Abdelwahed,1177.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2367,NaN,NaN,NaN,NaN,Zeina Hesham Abdelkhalek,66.0,Faculty of Agriculture,Faculty of Agriculture,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ammar hisham hamed,1198.0,Faculty of Computer and Artificial Intelligence,Faculty of Computer and Artificial Intelligence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Amar Yasser Ashour Mohamed eid Al-Marsafawi,502.0,Faculty of Commerce,Faculty of Commerce

In [133]:
import pandas as pd
df = pd.DataFrame({
  'Color': ['Red', 'Green', 'Blue', 'Green']
})
pd.get_dummies(df)

   Color_Blue  Color_Green  Color_Red
0       False        False       True
1       False         True      False
2        True        False      False
3       False         True      False

In [134]:
df

   Color
0    Red
1  Green
2   Blue
3  Green

In [191]:
pd.set_option('display.max.rows', 400)

In [192]:
df2

,Identity Code,Name,Faculty in benha
0,1,Radwa Abdelrazik Abdelwhab Salem Goma Wady,Faculty of Agriculture
1,2,Samar Abdalaziz Ahmed Eltarawy,Faculty of Agriculture
2,4,Ahmed Elsayed Gouda Attia,Faculty of Agriculture
3,5,Zeyad Osama Farag,Faculty of Agriculture
4,6,Asmaa Ibrahim Nabih Salah,Faculty of Agriculture
...,...,...,...
2755,2749,Khaled Elsayed Abdelmaaboud Elsayed,Faculty of Veterinary Medicine
2756,2750,Rana Ahmed Mohamed Mohamed Hassan,Faculty of Veterinary Medicine
2757,2934,Malak Hany Ebrahim El Saudi,Faculty of Veterinary Medicine
2758,3005,Fatma Mohammed Mahmoud Qamr,Faculty of Veterinary Medicine
2759,3099,Aya_Tullah Bauomi Sayed Al_Fakharany,Faculty of Veterinary Medicine

# Performing one-hot encoding

In [193]:
df2 = pd.read_excel(r"C:\Users\elkha\Downloads\Benha University - All Faculities.xlsx", names=['Identity Code', 'Name', 'Faculty in benha'], sheet_name='Sheet1')
df = pd.get_dummies(df2['Faculty in benha'], drop_first=True)

In [194]:
df2['Faculty in benha'].unique()

array(['Faculty of Agriculture', 'Faculty of Applied Arts',
       'Faculty of Arts', 'Faculty of Commerce',
       'Faculty of Computer and Artificial Intelligence',
       'Faculty of Education', 'Faculty of Engineering (Benha)',
       'Faculty of Engineering (Shoubra)', 'Faculty of Law',
       'Faculty of Medicine', 'Faculty of Nursing',
       'Faculty of Physical Education', 'Faculty of Physical Therapy',
       'Faculty of Science', 'Faculty of Specific Education',
       'Faculty of Veterinary Medicine'], dtype=object)

In [195]:
df.shape

(2760, 15)

In [196]:
df

,Faculty of Applied Arts,Faculty of Arts,Faculty of Commerce,Faculty of Computer and Artificial Intelligence,Faculty of Education,Faculty of Engineering (Benha),Faculty of Engineering (Shoubra),Faculty of Law,Faculty of Medicine,Faculty of Nursing,Faculty of Physical Education,Faculty of Physical Therapy,Faculty of Science,Faculty of Specific Education,Faculty of Veterinary Medicine
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2756,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2757,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2758,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2759,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [197]:
df2['Faculty in benha'].value_counts().sort_values(ascending=False)

Faculty in benha
Faculty of Computer and Artificial Intelligence    989
Faculty of Science                                 492
Faculty of Commerce                                355
Faculty of Agriculture                             335
Faculty of Engineering (Benha)                     157
Faculty of Engineering (Shoubra)                   147
Faculty of Law                                     115
Faculty of Education                                37
Faculty of Veterinary Medicine                      34
Faculty of Physical Education                       27
Faculty of Arts                                     21
Faculty of Specific Education                       19
Faculty of Applied Arts                             17
Faculty of Physical Therapy                          8
Faculty of Nursing                                   5
Faculty of Medicine                                  2
Name: count, dtype: int64

In [198]:
top_10 = [x for x in df2['Faculty in benha'].value_counts().sort_values(ascending=False).head(11).index]

In [199]:
top_10

['Faculty of Computer and Artificial Intelligence',
 'Faculty of Science',
 'Faculty of Commerce',
 'Faculty of Agriculture',
 'Faculty of Engineering (Benha)',
 'Faculty of Engineering (Shoubra)',
 'Faculty of Law',
 'Faculty of Education',
 'Faculty of Veterinary Medicine',
 'Faculty of Physical Education',
 'Faculty of Arts']

In [209]:
df2['Faculty in benha']

0               Faculty of Agriculture
1               Faculty of Agriculture
2               Faculty of Agriculture
3               Faculty of Agriculture
4               Faculty of Agriculture
                     ...
2755    Faculty of Veterinary Medicine
2756    Faculty of Veterinary Medicine
2757    Faculty of Veterinary Medicine
2758    Faculty of Veterinary Medicine
2759    Faculty of Veterinary Medicine
Name: Faculty in benha, Length: 2760, dtype: object